{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo color-bg">

				<div class="container">
					<div class="promo">

						<div class="promo__img">
							<img src="img/promo-img.png" alt="">
						</div>
						<div class="row align-horisontal-between promo__row row-nowrap">

							<div class="promo__content">
								<h1 class="subtitle">Проектирование, монтаж и обслуживание пожарной сигнализации в Москве и МО</h1>
								<h2 class="title">Монаж пожарной сигнализации, которая гарантированно пройдет проверку МЧС и предупредит пожар </h2>
								

								<div class="commercial-proposal">
									<p class="commercial-proposal__text lighter-text-color">Получите коммерческое предложение на монтаж систем<br>пожарной безопасности</p>

									<a href="#sectForm" class="btn btn-with-img js-smooth-scroll-link">
										<span class="btn__content">
											<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
											<span class="btn__text">Получить смету и КП</span>
										</span>
									</a>

								</div>
							</div>

							<div class="promo__video">
								<div class="promo__video--wrapper">
									<iframe src="https://www.youtube.com/embed/zD22D1ngWbE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>

								<p class="promo__video--notice">Посмотрите видео о компании и наших услугах</p>

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<section class="promo-offer">
				<div class="container">
					<div class="promo-offer__content">
						<h2 class="sect__title white-color">Получите проект и исполнительную документацию в подарок<br><span>при заказе монтажны услуг</span></h2>

						<img src="img/promo-offer-img.png" alt="">
					</div>
				</div>
			</section>



			<!-- Section services -->
			<section class="sect__services" style="background-image: url('img/backgrounds/services-bg.png');">

				<div class="container">
					<div class="row align-vertical-center align-horisontal-between">
						
						<div class="title__col">
							<h2 class="sect__title white-color">Обеспечим пожарную безопасность объекта и поможем пройти <span>проверку МЧС</span></h2>
						</div>

						<div class="services__col">
							<div class="row services__row align-horisontal-start">
								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/1.svg');"></i>
										</div>
										<p>Проектирование систем безопасности</p>
									</div>
								</div>
								<!--// Item -->

								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/2.svg');"></i>
										</div>
										<p>Установка систем пожаротушения</p>
									</div>
								</div>
								<!--// Item -->

								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/3.svg');"></i>
										</div>
										<p>Монтаж пожарной сигнализации</p>
									</div>
								</div>
								<!--// Item -->

								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/4.svg');"></i>
										</div>
										<p>Расчет рисков и СТУ</p>
									</div>
								</div>
								<!--// Item -->

								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/5.svg');"></i>
										</div>
										<p>Подготовка к проверкам</p>
									</div>
								</div>
								<!--// Item -->

								<!-- Item -->
								<div class="service__item--wrapper">
									<div class="service__item">
										<div class="service__item--ic-block">
											<i class="service__item--ic" style="background-image: url('img/icons/svg/services/6.svg');"></i>
										</div>
										<p>Обслуживание систем безопасности</p>
									</div>
								</div>
								<!--// Item -->
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section services -->

			<!-- Sect services additional -->
			<section class="sect__services-additional alternate-color-bg">

				<div class="container">
					<div class="row align-horisontal-between  services-additional__row">
						<div class="title__col">
							<h2 class="sect__title--lg white-color">Установка всех видов систем пожарной сигнализации </h2>
						</div>

						<div class="services-additional__col img-decor-wrapper">
							<div class="img-decor">
								<img src="img/alarm-sm.png" alt="">
							</div>

							<div class="alarm-content">
								<h3>Выполняем монтаж таких видов пожарной сигнализации как:</h3>
								<ul>
									<li>Адресная пожарная сигнализация</li>
									<li>Аналоговая пожарная сигнализация</li>
									<li>Пороговая пожарная сигнализация</li>
									<li>Комбинированная пожарная сигнализация</li>
									<li>Беспроводная пожарная сигнализация</li>
									<li>Автоматическая пожарная сигнализация</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Sect services additional -->

			<!-- Section help -->
			<section class="sect__help">

				<div class="container">

					<div class="help__block">
						<div class="help__block--content">
							<div class="help__block--content_text">
								<p>Не знаете какая нужна система?</p>
								<p>Нет проекта или планировок?</p>
								<p>Нужен осмотр объекта?</p>
							</div>
							<h2 class="sect__title sect__title--gutter"><span>Беслпатно отправим инженера</span> к вам на объект</h2>
							<p>Для осмотра и составления сметы</p>

							<div class="row align-vertical-center align-horisontal-start help__contacts--row">

								<button type="button" class="btn js-open-engineer-popup-btn">
									<span>Оформить бесплатный выезд</span>
								</button>

								<div class="help__contacts row align-vertical-center">
									<span>или</span>

									<div class="help__contacts--links">
										<a href="#" class="btn-ic btn-ic-whatsapp"></a>
										<a href="#" class="btn-ic btn-ic-telegram"></a>
									</div>

								</div>

							</div>
						</div>

						<div class="help__img">
							<img src="img/engineer.png" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section help -->

			<!-- Section project -->
			<section class="sect__need-project color-bg">
				<div class="container">
					<div class="row align-horisontal-end">
						<div class="need-project__content">
							<div class="need-project__content-block">
								<p class="need-project__content--text_lg">Разработаем проект с соблюдением всех требований и подберем оптимальное оборудование для экономии ваших средств</p>
								<p class="need-project__content--text_sm">При заказе монтажных услуг проект сделаем <strong>бесплатно</strong></p>
								<button type="button" class="btn btn__search js-open-consultation-popup-btn">
									<i class="btn__search--ic"></i>
									<span>Нужен проект</span>
								</button>
							</div>

							<img src="img/project.png" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section project -->

			<!-- SEction guarantees -->
			<section class="sect__guarantee">

				<div class="container">
					<div class="guarantee__block">

						<div class="guarantee__content">
							<img src="img/russia.png" alt="">
							<h2 class="sect__title sect__title--gutter">Гарантируем <span>прохождение</span> проверки МЧС</h2>
							<p class="light-text-color">Поможем подобрать сигнализацию для вашего объекта и ответим на ваши вопросы</p>
						</div>

						<div class="guarantee__information bg" style="background-image: url('img/backgrounds/emergency-bg.jpg');">
							<div class="guarantee__information--content white-color">
								<h3 class="guarantee__information--title">Вы получаете дополнительные гарантии:</h3>

								<div class="guarantee__information--blocks">
									<!-- Item -->
									<div class="guarantee__information--item">
										<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/1.svg');"></i>
										<div class="guarantee__information--item-content">
											<h4>Исправление ошибок</h4>
											<p>Если по выполненной нам работе будут выписаны замечания, то мы устраним их за свой счет в течение 7 дней</p>
										</div>
									</div>
									<!--// Item -->

									<!-- Item -->
									<div class="guarantee__information--item">
										<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/2.svg');"></i>
										<div class="guarantee__information--item-content">
											<h4>Итоговая стоимость</h4>
											<p>Мы не будем навязывать вам доп.соглашения и доп. сметы после начала работ. Если не изменятся объемы, то цена останется прежней</p>
										</div>
									</div>
									<!--// Item -->

									<!-- Item -->
									<div class="guarantee__information--item">
										<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/3.svg');"></i>
										<div class="guarantee__information--item-content">
											<h4>Соблюдение сроков</h4>
											<p>Мы даем гарантию на соблюдение сроков в договоре с наложением штрафных платежей в случае нарушения</p>
										</div>
									</div>
									<!--// Item -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //SEction guarantees -->

			<!-- Section documents -->
			<section class="sect__documents color-bg">


				<div class="container">

					<div class="documents__block">
						<div class="row align-horisontal-end">

							<div class="documents">


								<img src="img/docs.png" alt="" class="documents__img">


								<h2 class="sect__title sect__title--gutter">Предоставим полный пакет документов для прохождения проверок</h2>

								<div class="decor-list">
									<ul>
										<li>Исполнительную и рабочую документацию</li>
										<li>Акты выполненных работ и ввода в эксплуатацию</li>
										<li>Сертификаты на оборудование</li>
										<li>Планы эвакуации</li>
										<li>Копию лицензии от МЧС</li>
										<li>Корочки ПТМ для сотрудников</li>
										<li>Договор на техническое обслуживание</li>
										<li>Журнал и акты на техническое обслуживание</li>
									</ul>
								</div>

								<a href="#sectForm" class="btn btn-sm btn-with-img js-smooth-scroll-link">
									<span class="btn__content">
										<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
										<span class="btn__text">Получить коммерческое<br>предложение</span>
									</span>
								</a>


							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section documents -->

			<!-- Section benefits -->
			<section class="sect__benefits" style="background-image: url('img/backgrounds/services-add-bg.png');">

				<div class="container">
					<div class="row align-vertical-center align-horisontal-between">
						
						<div class="title__col">
							<h2 class="sect__uptitle white-color">При работе с нами вы получите</h2>
							<h3 class="sect__title white-color">Пожарную безопасность на объекте и спокойствие при прохождении проверок</h3>
						</div>

						<div class="benefits__col img-decor-wrapper">

							<div class="img-decor">
								<img src="img/smoke-alarms.png" alt="">
							</div>
							<div class="row benefits__row align-horisontal-start">
								<!-- Item -->
								<div class="benefit__item">
									<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/1.svg');"></i>
									<p>Смонтированную пожарную сигнализацию</p>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="benefit__item">
									<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/2.svg');"></i>
									<p>Полный комплект необходимых документов</p>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="benefit__item">
									<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/3.svg');"></i>
									<p>Инструктаж по пользованию системы</p>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="benefit__item">
									<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/4.svg');"></i>
									<p>Грамотное техническое обслуживание</p>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="benefit__item">
									<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/5.svg');"></i>
									<p>Сопровождение и помощь при проверках МЧС</p>
								</div>
								<!-- //Item -->
							</div>
							

						</div>
					</div>
				</div>
				
				<!-- //container -->
			</section>

			<!-- Sect  estimate -->
			<section class="sect__estimate alternate-color-bg">


				<div class="container">
					<div class="estimate">
						<div class="estimate__content">
							<h2 class="sect__title sect__title--gutter">Получить <span>смету</span> и <span>комерческое предложение</span></h2>
							<p class="light-text-color">На проектирование и монтаж пожарной сигнализации с гарантией прохождения проверки МЧС</p>

							<a href="#sectForm" class="btn btn-with-img js-smooth-scroll-link">
								<span class="btn__content">
									<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
									<span class="btn__text">Получить коммерческое предложение</span>
								</span>
							</a>
						</div>

						<div class="estimate__img">
							<img src="img/mockup.png" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Sect  estimate -->

			<!-- Section advantages -->
			<section class="sect__advantages">

				<div class="container">
					<div class="advantages">
						<div class="row align-horisontal-between advantages__row">

							<div class="advantages__content white-color ">
								<h2 class="sect__title sect__title--gutter">Мы уже работали на объекте <span>схожем с вашим</span></h2>
								<div class="decor-list">
									<ul>
										<li>Склады и Производства </li>
										<li>Бизнес-центры и офисы</li>
										<li>Торговые-центры и магазины</li>
										<li>Многоквартирные дома</li>
										<li>Рестораны и кафе</li>
										<li>Гостиницы и хостелы</li>
										<li>Паркинги и тех. сооружения</li>
										<li>Медицинские учреждения</li>
										<li>Серверные и Центры обработки данных (ЦОД)</li>
										<li>Образовательные учреждения</li>
									</ul>
								</div>



							</div>

							<div class="advantages__information img-decor-wrapper">
								<div class="img-decor">
									<img src="img/equipment-full.png" alt="">
								</div>

								<div class="advantages__information--item">
									<span class="advantages__information--item-value">5 лет</span>
									<p>Более 5 лет успешной работы на рынке пожарной безопасности</p>
								</div>
								<div class="advantages__information--item">
									<span class="advantages__information--item-value">330</span>
									<p>Более 330 выполненных объектов в Москве и МО</p>
								</div>
								<div class="advantages__information--item">
									<span class="advantages__information--item-value">70+</span>
									<p>Успешно пройденных проверок от МЧС</p>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!--// Section advantages -->

			<section class="sect__our-experience">
				<h2 class="container text-center sect__title white-color">У нас есть опыт работы в любых условиях</h2>

				<div class="container">
					<div class="row align-horisontal-center our-experience__row row-gutters">
						<div class="our-experience__col">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/1.svg');"></span>
								<p>Работа в сжатые сроки и ночное время</p>
							</div>
						</div>

						<div class="our-experience__col ">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/2.svg');"></span>
								<p>При завершенном ремонте</p>
							</div>
						</div>

						<div class="our-experience__col">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/3.svg');"></span>
								<p>Без приостановки работы компании</p>
							</div>
						</div>

						<div class="our-experience__col ">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/4.svg');"></span>
								<p>С повышенными требованиями к качеству монтажа</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__problems">
				<div class="container">
					<div class="problems__block">
						<h2 class="sect__title">Хотите <span>избежать проблем</span> и <span>штрафов</span> при прохождении проверки МЧС?</h2>
						<p>Получите Бесплатную методичку, которая поможет вам подготовиться к прохождению проверки МЧС и видео, которое поможет вам выбрать правильного исполнителя</p>
						<button type="button" class="btn js-open-mchs-consultation-popup-btn">Получить материалы БЕСПЛАТНО</button>

						<img src="img/problems.png" alt="">
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Section portfolio -->
			<section class="sect__portfolio alternate-color-bg gutters">
				<h2 class="text-center sect__title container"><span>Успешно</span> выполненные работы</h2>


				<div class="container">
					<!-- DEsktop slider -->
					<div class="portfolio__slider portfolio__slider--desktop">
						<div class="swiper-container js-portfolio-desktop-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="portfolio__slide">
										<div class="portfolio__slide--col">

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												<span class="project__card--content">
													<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												
												<span class="project__card--content">
													<span class="project__card--title">Логистический комплекс ООО “Мобис Партс СНГ”</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												
												<span class="project__card--content">
													<span class="project__card--title">Торговый центр в Орехово-Зуево</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

										</div>

										<div class="portfolio__slide--col "  >
											<a href="#" class="project__card bg" style="background-image: url('img/project-thumbnail-2.jpg');" target="_blank">
												
												<span class="project__card--content">
													<span class="project__card--title">Завод «Hankook Engineering» компании «LG»</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>
										</div>
									</div>

								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="portfolio__slide">
										<div class="portfolio__slide--col">

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												<span class="project__card--content">
													<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												
												<span class="project__card--content">
													<span class="project__card--title">Логистический комплекс ООО “Мобис Партс СНГ”</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

											<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
												
												<span class="project__card--content">
													<span class="project__card--title">Торговый центр в Орехово-Зуево</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>

										</div>

										<div class="portfolio__slide--col "  >
											<a href="#" class="project__card bg" style="background-image: url('img/project-thumbnail-2.jpg');" target="_blank">
												
												<span class="project__card--content">
													<span class="project__card--title">Завод «Hankook Engineering» компании «LG»</span>
													<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
													<span class="project__card--link">Подробнее</span>
												</span>
											</a>
										</div>
									</div>

								</div>
								<!-- //Slide -->
							</div>
						</div>

						<div class="slider__pagination js-portfolio-desktop-slider-pagination"></div>

						<!-- Navigation -->
						<button class="slider__btn slider__btn--prev js-portfolio-desktop-slider-btn-prev" type="button">
							<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.796772 16.8023L17.3075 0.29156C17.6962 -0.0971866 18.3197 -0.0971866 18.7084 0.29156C19.0972 0.680306 19.0972 1.30377 18.7084 1.69251L2.90187 17.4991L18.7084 33.3057C19.0972 33.6944 19.0972 34.3179 18.7084 34.7066C18.5177 34.8973 18.261 35 18.0116 35C17.7622 35 17.5055 34.9046 17.3148 34.7066L0.804106 18.1959C0.415359 17.8145 0.415361 17.1837 0.796772 16.8023Z" fill="white"/>
							</svg>

						</button>
						<button class="slider__btn slider__btn--next js-portfolio-desktop-slider-btn-next" type="button">
							<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2032 18.1977L1.69251 34.7084C1.30377 35.0972 0.680306 35.0972 0.29156 34.7084C-0.0971865 34.3197 -0.0971865 33.6962 0.29156 33.3075L16.0981 17.5009L0.291563 1.69435C-0.0971836 1.3056 -0.0971836 0.68214 0.291563 0.293396C0.482269 0.102688 0.738988 6.46041e-08 0.988372 8.6406e-08C1.23776 1.08208e-07 1.49448 0.0953561 1.68518 0.293396L18.1959 16.8041C18.5846 17.1855 18.5846 17.8163 18.2032 18.1977Z" fill="white"/>
							</svg>

						</button>
						<!-- //Navigation -->
					</div>
					<!-- //DEsktop slider -->


				</div>
				<!-- //container -->

				<!-- Mobile slider -->
				<div class="portfolio__slider portfolio__slider--mobile">
					<div class="swiper-container js-portfolio-mobile-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio__slide portfolio__slide--mobile">
									<a href="#" class="project__card">
										<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
										<span class="project__card--content">
											<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
											<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
											<span class="project__card--link">Подробнее</span>
										</span>
									</a>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio__slide portfolio__slide--mobile">
									<a href="#" class="project__card">
										<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
										<span class="project__card--content">
											<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
											<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
											<span class="project__card--link">Подробнее</span>
										</span>
									</a>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio__slide portfolio__slide--mobile">
									<a href="#" class="project__card">
										<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
										<span class="project__card--content">
											<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
											<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
											<span class="project__card--link">Подробнее</span>
										</span>
									</a>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="portfolio__slide portfolio__slide--mobile">
									<a href="#" class="project__card">
										<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
										<span class="project__card--content">
											<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
											<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
											<span class="project__card--link">Подробнее</span>
										</span>
									</a>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<!-- Navigation -->
					<div class="text-center portfolio__slider--mobile-navigation">
						<button class="slider__btn--arrow js-portfolio-mobile-slider-btn-prev" type="button">
							<svg viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.340518 9.47406L7.78011 16.9532C8.23401 17.4095 8.97016 17.4095 9.42407 16.9532C9.87807 16.4968 9.87807 15.7569 9.42407 15.3005L3.9689 9.81633L23.8376 9.81633C24.4796 9.81633 25.0001 9.29307 25.0001 8.64772C25.0001 8.00246 24.4796 7.47911 23.8376 7.47911L3.9689 7.47911L9.42389 1.99496C9.87789 1.53855 9.87789 0.798674 9.42389 0.342263C9.19698 0.114243 8.89939 4.99784e-07 8.6019 4.73776e-07C8.30441 4.47769e-07 8.00692 0.114243 7.77992 0.342263L0.340518 7.82137C-0.113483 8.27778 -0.113483 9.01765 0.340518 9.47406Z" />
							</svg>

						</button>
						<button class="slider__btn--arrow js-portfolio-mobile-slider-btn-next" type="button">
							<svg viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg">
								<path d="M24.6595 8.67846L17.22 1.23887C16.766 0.78496 16.0299 0.78496 15.576 1.23887C15.122 1.69287 15.122 2.42883 15.576 2.88283L21.0312 8.338L1.16244 8.338C0.520492 8.338 0 8.8585 0 9.50044C0 10.1423 0.520492 10.6629 1.16244 10.6629L21.0312 10.6629L15.5762 16.118C15.1222 16.5721 15.1222 17.308 15.5762 17.762C15.8031 17.9888 16.1007 18.1025 16.3982 18.1025C16.6956 18.1025 16.9931 17.9888 17.2201 17.762L24.6595 10.3224C25.1135 9.86842 25.1135 9.13246 24.6595 8.67846Z"/>
							</svg>

						</button>

					</div>
					<!-- //Navigation -->

				</div>
				<!-- //Mobile slider -->
			</section>
			<!--// Section portfolio -->

			<!-- Section licenses -->
			<section class="sect__licenses gutters">
				<h2 class="text-center sect__title sect__title--gutter-sm container">Имеем все необходимые лицензии и допуски</h2>
				<p class="sect__subtitle container text-center">Для выполнения проектировани и монтажа систем пожарной безопасности</p>

				<div class="container">
					<div class="licenses__slider">
						<div class="swiper-container js-licenses-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="license__slide">
										<a href="img/license-1.jpg" class="license fancy-link" data-fancybox>
											<img src="img/license-1.jpg" alt="">
										</a>
										<p>Лицензия МЧС</p>
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="license__slide">
										<a href="img/license-2.jpg" class="license fancy-link" data-fancybox>
											<img src="img/license-2.jpg" alt="">
										</a>
										<p>Свидетельство о регистрации</p>
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="license__slide">
										<a href="img/license-3.jpg" class="license fancy-link" data-fancybox>
											<img src="img/license-3.jpg" alt="">
										</a>
										<p>Допуск СРО</p>
									</div>
								</div>
								<!-- //Slide -->
							</div>
						</div>

						<!-- Navigation -->
						<div class="text-center licenses__slider--navigation">
							<button class="slider__btn--arrow js-licenses-slider-btn-prev" type="button">
								<svg viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.340518 9.47406L7.78011 16.9532C8.23401 17.4095 8.97016 17.4095 9.42407 16.9532C9.87807 16.4968 9.87807 15.7569 9.42407 15.3005L3.9689 9.81633L23.8376 9.81633C24.4796 9.81633 25.0001 9.29307 25.0001 8.64772C25.0001 8.00246 24.4796 7.47911 23.8376 7.47911L3.9689 7.47911L9.42389 1.99496C9.87789 1.53855 9.87789 0.798674 9.42389 0.342263C9.19698 0.114243 8.89939 4.99784e-07 8.6019 4.73776e-07C8.30441 4.47769e-07 8.00692 0.114243 7.77992 0.342263L0.340518 7.82137C-0.113483 8.27778 -0.113483 9.01765 0.340518 9.47406Z" />
								</svg>

							</button>
							<button class="slider__btn--arrow js-licenses-slider-btn-next" type="button">
								<svg viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg">
									<path d="M24.6595 8.67846L17.22 1.23887C16.766 0.78496 16.0299 0.78496 15.576 1.23887C15.122 1.69287 15.122 2.42883 15.576 2.88283L21.0312 8.338L1.16244 8.338C0.520492 8.338 0 8.8585 0 9.50044C0 10.1423 0.520492 10.6629 1.16244 10.6629L21.0312 10.6629L15.5762 16.118C15.1222 16.5721 15.1222 17.308 15.5762 17.762C15.8031 17.9888 16.1007 18.1025 16.3982 18.1025C16.6956 18.1025 16.9931 17.9888 17.2201 17.762L24.6595 10.3224C25.1135 9.86842 25.1135 9.13246 24.6595 8.67846Z"/>
								</svg>

							</button>

						</div>
						<!-- //Navigation -->
					</div>

					<!-- Clients -->
					<div class="clients">
						<div class="row align-vertical-center align-horisontal-start clients__row">
							<div class="clients__title--col">
								<h3 class="sect__title"><span>Успешно работаем</span> с клиентами разного уровня</h3>
							</div>

							<div class="clients__logos">
								<div class="client__logo">
									<img src="img/clients/1.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/2.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/3.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/4.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/5.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/6.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/7.png" alt="">
								</div>

								<div class="client__logo">
									<img src="img/clients/8.png" alt="">
								</div>

							</div>
						</div>
					</div>
					<!-- //Clients -->
				</div>
				<!-- //container -->
			</section>
			<!-- //Section licenses -->

			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->


			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section faq -->
			<section class="sect__faq gutters alternate-color-bg">
				<h2 class="container text-center sect__title">Часто задаваемые вопросы</h2>

				<div class="container">

					<div class="faq img-decor-wrapper">

						<div class="img-decor img-decor-bottom">
							<img src="img/smoke.png" alt="">
						</div>
						<div class="img-decor img-decor-top">
							<img src="img/firestoper.png" alt="">
						</div>

						<div class="faq__items">

							<!-- Faq item -->
							<div class="faq__item">
								<div class="faq__item--header js-toggle-faq">
									<div class="row align-vertical-center align-horisontal-between row-nowrap" >
										<h3 class="faq__item--title">Как выбрать пожарную сигнализацию?</h3>
										<button class="faq__btn js-toggle-faq-btn" type="button"></button>
									</div>

								</div>


								<div class="faq__item--body">
									<p>В ПС входят прибор контроля за состоянием извещателей, пульт управления(АРМ), прибор индикации, различные типа пожарных датчиков</p>
								</div>
							</div>
							<!-- //Faq item -->

							<!-- Faq item -->
							<div class="faq__item">
								<div class="faq__item--header js-toggle-faq">
									<div class="row align-vertical-center align-horisontal-between row-nowrap">
										<h3 class="faq__item--title">Как проверить работоспособность пожарной сигнализации?</h3>
										<button class="faq__btn js-toggle-faq-btn" type="button"></button>
									</div>


								</div>

								<div class="faq__item--body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In exercitationem dolore qui dolorem ducimus sit quasi sunt libero, voluptatem dolor dignissimos molestias aspernatur repellendus quaerat aut nihil nulla perspiciatis veritatis.</p>
								</div>
							</div>
							<!-- //Faq item -->

							<!-- Faq item -->
							<div class="faq__item">
								<div class="faq__item--header js-toggle-faq">
									<div class="row align-vertical-center align-horisontal-between row-nowrap">
										<h3 class="faq__item--title">Есть ли возможность оповещения сотрудников о пожарной тревоге через SMS/Мессенджер?</h3>
										<button class="faq__btn js-toggle-faq-btn" type="button"></button>
									</div>


								</div>

								<div class="faq__item--body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam reiciendis facere repellendus repellat minus cum dicta! Deleniti iure odit alias deserunt, harum molestias nisi at doloremque voluptatibus obcaecati delectus laborum accusamus, laudantium neque ab? Fugiat repellat eius tenetur, facere totam quod consequatur ipsum minima aliquam vero cumque consequuntur? Quasi, quos!</p>
								</div>
							</div>
							<!-- //Faq item -->

							<!-- Faq item -->
							<div class="faq__item">
								<div class="faq__item--header js-toggle-faq">
									<div class="row align-vertical-center align-horisontal-between row-nowrap">
										<h3 class="faq__item--title">Что входит в пожарную сигнализацию?</h3>
										<button class="faq__btn js-toggle-faq-btn" type="button"></button>
									</div>


								</div>

								<div class="faq__item--body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam reiciendis facere repellendus repellat minus cum dicta! Deleniti iure odit alias deserunt, harum molestias nisi at doloremque voluptatibus obcaecati delectus laborum accusamus, laudantium neque ab? Fugiat repellat eius tenetur, facere totam quod consequatur ipsum minima aliquam vero cumque consequuntur? Quasi, quos!</p>
								</div>
							</div>
							<!-- //Faq item -->



						</div>

					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section faq -->

			<section class="sect__seo gutters">
				<div class="container">
					<div class="content">
						<h2>SEO Текст - Лорем Ипсум</h2>
						<p><b>Lorem Ipsum</b> - это текст-"рыба" часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
						<p>Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
					</div>
				</div>
			</section>

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>