{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Section promo -->
			<section class="sect__promo color-bg">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="promo">

						<div class="promo__img">
							<img src="img/promo-img.png" alt="">
						</div>
						<div class="row align-horisontal-between promo__row row-nowrap">

							<div class="promo__content">
								<h1 class="title">Монтаж и обслуживание систем пожарной безопасности</h1>
								<p class="subtitle">Монтаж пожарной сигнализации и систем пожаротушения с гарантией прохождения проверки МЧС</p>

								<div class="commercial-proposal">
									<p class="commercial-proposal__text lighter-text-color">Получите коммерческое предложение на монтаж систем пожарной безопасности</p>

									<a href="#" class="btn btn-with-img">
										<span class="btn__content">
											<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
											<span class="btn__text">Получить коммерческое<br>предложение</span>
										</span>
									</a>

								</div>
							</div>

							<div class="promo__video">
								<div class="promo__video--wrapper">
									<iframe src="https://www.youtube.com/embed/zD22D1ngWbE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>

								<p class="promo__video--notice">Посмотрите видео о компании и наших услугах</p>

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<!-- Section services -->
			<section class="sect__services">
				<h2 class="w3c">&nbsp;</h2>
			</section>
			<!-- //Section services -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>