{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo sect__promo-homepage bg" style="background-image: url('img/backgrounds/homepage-promo-bg.jpg');">

				<div class="container">

					<div class="homepage-promo">
						<h1 class="homepage-promo__title">Пожарная <strong>Безопасность</strong> Объекта<br><span>“Под Ключ” С Грантией Прохождения<br><strong>Проверки МЧС</strong></span></h1>
					</div>

					<div class="homepage-links">
						<button class="big-link--with-arrow js-open-service-popup-btn" type="button">
							<span>Не знаете какая нужна система?</span>
						</button>

						<a href="#sectForm" class="big-link--with-arrow big-link--with-arrow__accent js-smooth-scroll-link">
							<span>Получить коммерческое предложение</span>
						</a>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<!-- Section services cards-->
			{% include '../parts/sections/sect-services-cards.html' %}
			<!-- Section services cards-->

			{% include '../parts/sections/sect-offer.html' %}

			<!-- Section services -->
			{% include '../parts/sections/sect-services.html' %}
			<!-- //Section services -->

			<!-- Sect estimate -->
			{% include '../parts/sections/sect-estimate.html' %}
			<!-- //Sect  estimate -->

			<!-- SEction guarantees -->
			{% include '../parts/sections/sect-guarantee.html' %}
			<!-- //SEction guarantees -->

			<!-- Section help -->
			{% include '../parts/sections/sect-help.html' %}
			<!-- //Section help -->

			<!-- Section project -->
			{% include '../parts/sections/sect-need-project.html' %}
			<!-- //Section project -->

			<!-- Section advantages -->
			{% include '../parts/sections/sect-advantages.html' %}
			<!--// Section advantages -->

			<!-- Section experience -->
			{% include '../parts/sections/sect-experience.html' %}
			<!--// Section experience -->

			<!-- Section problems -->
			{% include '../parts/sections/sect-problems.html' %}
			<!--// Section problems -->

			<!-- Section portfolio -->
			{% include '../parts/sections/sect-portfolio.html' %}
			<!--// Section portfolio -->

			<!-- Section licenses -->
			{% include '../parts/sections/sect-licenses.html' %}
			<!-- //Section licenses -->

			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->

			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<section class="sect__prices gutters">
				<h2 class="container text-center sect__title">Цены на <span>услугу</span></h2>

				<div class="container">
					<div class="prices">
						<table>
							<thead>
								<tr>
									<td>Общая площадь</td>
									<td>Стоимость</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>до 100 м2</td>
									<td>57000 руб</td>
								</tr>
								<tr>
									<td> от 100 до 600 м2</td>
									<td>70000 руб</td>
								</tr>
								<tr>
									<td>от 600  до 1200 м2</td>
									<td>156000 руб</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Section faq -->
			{% include '../parts/sections/sect-faq.html' %}
			<!-- //Section faq -->

			<!-- Section seo -->
			{% include '../parts/sections/sect-seo.html' %}
			<!-- //Section seo -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>