{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo-services bg" style="background-image: url('img/backgrounds/page-services-bg.jpg');">
				<!-- Breadcrumbs -->
				<nav class="breadcrumbs breadcrumbs-absolute">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Системы пожаротушения</span></li>
						</ul>
					</div>
				</nav>
				<!-- //Breadcrumbs -->

				<div class="container">


					<div class="promo-services__text text-center light-color">
						<h1 class="title">Спроектируем и установим систему пожаротушения,<br><span>которая гарантированно пройдет проверку МЧС и предотвратит пожар</span></h1>
					</div>

					<div class="homepage-links">
						<button class="big-link--with-arrow js-open-service-popup-btn" type="button">
							<span>Не знаете какая нужна система?</span>
						</button>

						<a href="#sectForm" class="big-link--with-arrow big-link--with-arrow__accent js-smooth-scroll-link">
							<span>Получить коммерческое предложение</span>
						</a>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->


			<section class="sect__subservices gutters">
				<div class="container">
					<div class="row row-gutters align-horisontal-start subservices-cards__row">

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/1.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-water.html">Водяное<br><span>пожаротушение</span></a></h2>
									<a href="page-service-water.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/2.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-gas.html">Газовое<br><span>пожаротушение</span></a></h2>
									<a href="page-service-gas.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/3.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-foam.html">Пенное<br><span>пожаротушение</span></a></h2>
									<a href="page-service-foam.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/4.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-aerosol.html">Аэрозольное<br><span>пожаротушение</span></a></h2>
									<p class="subservice-card__notice">Монтаж системы апс на 8000м2 в сжатые сроки</p>
									<a href="page-service-aerosol.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/5.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-powder.html">Порошковое<br><span>пожаротушение</span></a></h2>
									<p class="subservice-card__notice">Монтаж системы апс на 8000м2 в сжатые сроки</p>
									<a href="page-service-powder.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

						<div class="subservice-card__wrapper">
							<div class="subservice-card bg" style="background-image: url('img/subservices/6.jpg');">
								<div class="subservice-card__content">
									<h2 class="subservice-card__title"><a href="page-service-dispersed.html">Мелкодисперсное<br><span>пожаротушение</span></a></h2>
									<p class="subservice-card__notice">Монтаж системы апс на 8000м2 в сжатые сроки</p>
									<a href="page-service-dispersed.html" class="permalink">Подробнее</a>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Section services -->
			{% include '../parts/sections/sect-services.html' %}
			<!-- //Section services -->


			<!-- Section help -->
			{% include '../parts/sections/sect-help.html' %}
			<!-- //Section help -->

			<!-- Section project -->
			{% include '../parts/sections/sect-need-project.html' %}
			<!-- //Section project -->

			<!-- SEction guarantees -->
			{% include '../parts/sections/sect-guarantee.html' %}
			<!-- //SEction guarantees -->

			<!-- Section documents -->
			{% include '../parts/sections/sect-documents.html' %}
			<!-- //Section documents -->

			<!-- Section benefits -->
			{% include '../parts/sections/sect-benefits.html' %}
			<!-- //Section benefits -->

			<!-- Sect  estimate -->
			{% include '../parts/sections/sect-estimate.html' %}
			<!-- //Sect  estimate -->

			<!-- Section advantages -->
			{% include '../parts/sections/sect-advantages.html' %}
			<!--// Section advantages -->

			<!-- Section experience -->
			{% include '../parts/sections/sect-experience.html' %}
			<!--// Section experience -->

			<!-- Section problems -->
			{% include '../parts/sections/sect-problems.html' %}
			<!--// Section problems -->

			<!-- Section portfolio -->
			{% include '../parts/sections/sect-portfolio.html' %}
			<!--// Section portfolio -->

			<!-- Section licenses -->
			{% include '../parts/sections/sect-licenses.html' %}
			<!-- //Section licenses -->

			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->

			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section faq -->
			{% include '../parts/sections/sect-faq.html' %}
			<!-- //Section faq -->

			<!-- Section seo -->
			{% include '../parts/sections/sect-seo.html' %}
			<!-- //Section seo -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>