{% include '../parts/head.html' %}
<body>

	<script>
(function(w, d, s, h, id) {
    w.roistatProjectId = id; w.roistatHost = h;
    var p = d.location.protocol == "https:" ? "https://" : "http://";
    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
})(window, document, 'script', 'cloud.roistat.com', '991dc1c03e29153dc7593e066d371f7e');
</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page-inside">

			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><a href="page-portfolio.html" class="breadcrumbs__link">Выполненные работы</a></li>
						<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Название работы</span></li>
					</ul>
				</div>
			</div>
			<!-- //Breadcrumbs -->

			

			<section class="page-content gutter-bottom page-single-project">
				<div class="container">

					<div class="project">
						<div class="row align-vertical-start align-horisontal-between project__row row-nowrap">
							<!-- Slider -->
							<div class="project-slider__col">
								<div class="project-slider">
									<!-- Main slider -->
									<div class="project-slider__main">
										<div class="swiper-container js-project-slider-main">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
											</div>
										</div>

										<!-- Navigation -->
										<button class="slider__btn slider__btn--prev js-project-slider-main-btn-prev" type="button">
											<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M0.796772 16.8023L17.3075 0.29156C17.6962 -0.0971866 18.3197 -0.0971866 18.7084 0.29156C19.0972 0.680306 19.0972 1.30377 18.7084 1.69251L2.90187 17.4991L18.7084 33.3057C19.0972 33.6944 19.0972 34.3179 18.7084 34.7066C18.5177 34.8973 18.261 35 18.0116 35C17.7622 35 17.5055 34.9046 17.3148 34.7066L0.804106 18.1959C0.415359 17.8145 0.415361 17.1837 0.796772 16.8023Z" fill="white"/>
											</svg>

										</button>
										<button class="slider__btn slider__btn--next js-project-slider-main-btn-next" type="button">
											<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M18.2032 18.1977L1.69251 34.7084C1.30377 35.0972 0.680306 35.0972 0.29156 34.7084C-0.0971865 34.3197 -0.0971865 33.6962 0.29156 33.3075L16.0981 17.5009L0.291563 1.69435C-0.0971836 1.3056 -0.0971836 0.68214 0.291563 0.293396C0.482269 0.102688 0.738988 6.46041e-08 0.988372 8.6406e-08C1.23776 1.08208e-07 1.49448 0.0953561 1.68518 0.293396L18.1959 16.8041C18.5846 17.1855 18.5846 17.8163 18.2032 18.1977Z" fill="white"/>
											</svg>

										</button>
										<!-- //Navigation -->
									</div>
									<!-- //Main slider -->

									<!-- Thumbnails slider -->
									<div class="project-slider__thumbnails">
										<div class="swiper-container js-project-slider-thumbnails">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
												<div class="swiper-slide">
													<div class="thumbnail">
														<img src="img/project-slide.jpg" alt="">
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- //Thumbnails slider -->
								</div>
							</div>
							<!-- //Slider -->

							<div class="project__content">
								<h1 class="project__title">Система видеонаблюдения, АПС, СОУЭ, домофон, автоматика ворот, ОС</h1>

								<div class="project__content--descriptions">
									<div class="project__content--description">
										<h2 class="project__content--description-title project__content--description-title_location">Расположение</h2>
										<p>Частный жилой дом (коттедж) Коттеждный поселок Чистые Пруды 3</p>
									</div>

									<div class="project__content--description">
										<h2 class="project__content--description-title project__content--description-title_work">Вид работ</h2>
										<p>Монтаж АПС, СОУЭ и газового пожаротушения</p>
									</div>

									<div class="project__content--description">
										<h2 class="project__content--description-title project__content--description-title_worktime">Время выполнения:</h2>
										<p>4 дня</p>
									</div>

									<div class="project__content--description">
										<h2 class="project__content--description-title project__content--description-title_info">Описание:</h2>
										<p>Монтаж системы безопасности «под ключ». Дополнительные сложности связаны с тем, что работы пришлось выполнять после завершения отделки помещений. Стояла задача выполнить монтаж системы, в том числе скрытую прокладку кабеля, с минимальным ущербом для чистовой отделки премиум-класса.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //container -->
			</section>


			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->

			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>