{% include '../parts/head.html' %}
<body class="custom-page">


	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Пожарная сигнализация</span></li>
						</ul>
					</div>
				</div>
				<!-- //Breadcrumbs -->

				<div class="container">
					<div class="promo promo-service">

						<div class="row align-horisontal-end promo__row row-nowrap">

							<div class="promo-img">
								<img src="img/new/promo/5.png" alt="">

							</div>

							<div class="promo__content">

								<h1 class="title">Монтаж систем водяного пожаротушения, которые предотвратят пожар и пройдут проверки</h1>

								<p class="promo__subtitle">С гарантией отсутствия замечаний<br> и штрафов от МЧС РФ</p>
								

								<div class="kp-offer">
									<p class="quiz-offer__label">Оставьте заявку и получите бесплатный подбор системы пожаротушения и коммерческое предложение</p>



									<button class="btn-secondary btn-secondary-tall btn-wide js-open-consultation-popup-btn" type="button">Получить коммерческое предложение</button>

								</div>

								<div class="promo-advantages">
									<div class="promo-advantage">
										<img src="img/new/mini-1.png" alt="">
										<p>КП со детальным списком оборудования и ценами на установку</p>
									</div>

									<div class="promo-advantage">
										<img src="img/new/mini-2.png" alt="">
										<p>Схему с расстановкой оборудования созданную специально для вашего объекта</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->



			</section>
			<!-- //Section promo -->

			{% include '../parts/sections/new-sections/service-page/sect-guaranties.html' %}
			<!-- // guaranties -->


			<section class="sect__services-cards-module alternate-color-bg">
				<h2 class="container sect__title">Установим все виды водяного<br> пожаротушения</h2>

				<div class="container">

					<div class="row services-cards-module__row align-horisontal-start">



						<div class="service-card-module__wrapper ">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/9.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Спринклерное<br> пожаротушение</a>
								</h3>
								<p>Самый популярный вид тушения, применяется для тушения больших площадей</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->



						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/7.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Тушение ТРВ<br> (Тонкораспыленная вода)</a>
								</h3>
								<p>Тушение мелкодисперсной водой обладает большей эффективность и почтите не наносит ущерба</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/10.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Пенное<br> пожаротушение</a>
								</h3>
								<p>Пенное тушение применяется в помещениях с большим количеством ГСМ или ЛКМ</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/11.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Пожарный водопровод<br> (ВПВ)</a>
								</h3>
								<p>Применяется в неотапливаемых помещениях и в случаях, когда нужно тушить большие площади за короткий срок</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/12.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Дренчерное пожаротушение<br> (сухотруб)</a>
								</h3>
								<p>Применяется в неотапливаемых помещениях и в случаях, когда нужно тушить большие площади за короткий срок</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper service-card-module__wrapper-lg">
							<div class="service-slide  b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/13.png" alt="">
								</div>
								<div class="service-slide__content">
								
									<h3 class="title-h3">
										<a href="#">Поможем подобрать<br> системы тушения</a>
									</h3>
									<p>Наши инженеры с проектировщиками подберут систему пожаротушения, выполнят расчёт и составят схему расстановки оборудования</p>
									<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
								</div>
							</div>
						</div>
						<!-- //card -->

						
					</div>

				</div>
				<!-- //container -->
			</section>



			{% include '../parts/sections/new-sections/service-page/sect-offer.html' %}
			<!-- // offer -->



			{% include '../parts/sections/new-sections/service-page/sect-tasks.html' %}
			<!-- // tasks -->

			{% include '../parts/sections/new-sections/service-page/main-sections.html' %}

			

			{% include '../parts/sections/new-sections/sect-projects.html' %}
			<!-- //sect projects -->


			{% include '../parts/sections/new-sections/sect-feedbacks.html' %}
			<!-- //sect new feedbacks -->

			{% include '../parts/sections/new-sections/sect-description.html' %}
			<!-- //sect description -->

			{% include '../parts/sections/new-sections/sect-blog.html' %}
			<!-- //sect blog -->

			{% include '../parts/sections/new-sections/sect-map.html' %}
			<!-- //sect map -->

			




		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->


		{% include '../parts/components/popup-new.html' %}

		<!-- Popup privacy-->
		{% include '../parts/components/popup-privacy.html' %}
		<!-- //Popup privacy-->
	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>