{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo color-bg">

				<div class="container">
					<div class="promo">

						<div class="promo__img">
							<img src="img/promo-img.png" alt="">
						</div>
						<div class="row align-horisontal-between promo__row row-nowrap">

							<div class="promo__content">
								<h1 class="subtitle">Проектирование, монтаж и обслуживание пожарной сигнализации в Москве и МО</h1>
								<h2 class="title">Монаж пожарной сигнализации, которая гарантированно пройдет проверку МЧС и предупредит пожар </h2>
								

								<div class="commercial-proposal">
									<p class="commercial-proposal__text lighter-text-color">Получите коммерческое предложение на монтаж систем<br>пожарной безопасности</p>

									<a href="#sectForm" class="btn btn-with-img js-smooth-scroll-link">
										<span class="btn__content">
											<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
											<span class="btn__text">Получить смету и КП</span>
										</span>
									</a>

								</div>
							</div>

							<div class="promo__video">
								<div class="promo__video--wrapper">
									<iframe src="https://www.youtube.com/embed/zD22D1ngWbE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>

								<p class="promo__video--notice">Посмотрите видео о компании и наших услугах</p>

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			{% include '../parts/sections/sect-offer.html' %}


			<!-- Section services -->
			{% include '../parts/sections/sect-services.html' %}
			<!-- //Section services -->

			<!-- Sect services additional -->
			{% include '../parts/sections/sect-services-additional.html' %}
			<!-- //Sect services additional -->

			<!-- Section help -->
			{% include '../parts/sections/sect-help.html' %}
			<!-- //Section help -->

			<!-- Section project -->
			{% include '../parts/sections/sect-need-project.html' %}
			<!-- //Section project -->

			<!-- SEction guarantees -->
			{% include '../parts/sections/sect-guarantee.html' %}
			<!-- //SEction guarantees -->

			<!-- Section documents -->
			{% include '../parts/sections/sect-documents.html' %}
			<!-- //Section documents -->

			<!-- Section benefits -->
			{% include '../parts/sections/sect-benefits.html' %}
			<!-- //Section benefits -->

			<!-- Sect  estimate -->
			{% include '../parts/sections/sect-estimate.html' %}
			<!-- //Sect  estimate -->

			<!-- Section advantages -->
			{% include '../parts/sections/sect-advantages.html' %}
			<!--// Section advantages -->

			<!-- Section experience -->
			{% include '../parts/sections/sect-experience.html' %}
			<!--// Section experience -->

			<!-- Section problems -->
			{% include '../parts/sections/sect-problems.html' %}
			<!--// Section problems -->

			<!-- Section portfolio -->
			{% include '../parts/sections/sect-portfolio.html' %}
			<!--// Section portfolio -->

			<!-- Section licenses -->
			{% include '../parts/sections/sect-licenses.html' %}
			<!-- //Section licenses -->

			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->

			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section faq -->
			{% include '../parts/sections/sect-faq.html' %}
			<!-- //Section faq -->

			<!-- Section seo -->
			{% include '../parts/sections/sect-seo.html' %}
			<!-- //Section seo -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>