{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-lead">

			<!-- Section promo -->
			<section class="sect__promo-lead">

				<!-- Breadcrumbs -->
				<nav class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Выполненные работы</span></li>
						</ul>
					</div>
				</nav>
				<!-- //Breadcrumbs -->

				<div class="container">



					<div class="promo-lead__content">
						<h1 class="title">Узнайте как <strong>успешно пройти пожарную проверку</strong> и избежать штрафов от МЧС</h1>
						<p><strong>Получите методичку и видеоинструкцию</strong>, которые помогут вам<br>подготовиться к прохождению проверки от МЧС - <span>БЕСПЛАТНО</span></p>
						<a href="#sectForm" class="btn js-smooth-scroll-link">Получить материалы БЕСПЛАТНО</a>

						<div class="promo-lead__img">
							<img src="img/promo-lead-img.png" alt="">
						</div>
					</div>

					
					

				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<section class="sect__documents color-bg">


				<div class="container">

					<div class="documents__block">
						<div class="row align-horisontal-end">

							<div class="documents">


								<img src="img/brandbook.png" alt="" class="documents__img lead__img">


								<h2 class="sect__title sect__title--gutter">Из файлов вы узнаете</h2>

								<div class="decor-list">
									<ul>
										<li>Какие бывают проверки и когда их ждать</li>
										<li>Какие бывают штрафы и за что из выписывают</li>
										<li>Какие у вас должны быть системы безопасности</li>
										<li>Какие у вас должны быть документы</li>
										<li>Какие еще средства защиты нужны на объекте</li>
										<li>Чего не должно быть на объекте во время проверки</li>
										<li>Какие ошибки чаще всего находят инспектора</li>
										<li>Как выбрать правильного исполнителя</li>
										<li>Какие нормативы стоит знать и проверять </li>
									</ul>
								</div>

								<a href="#sectForm" class="btn js-smooth-scroll-link">
									<span class="btn__content">
										<span class="btn__text">Получить материалы БЕСПЛАТНО</span>
									</span>
								</a>


							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__penalties gutters">
				<h2 class="sect__title text-center container">Поможем <span>избежать</span> штрафов и санкций</h2>

				<div class="container">
					<div class="penalties-table">
						<table>
							<thead>
								<tr>
									<td>Нарушение</td>
									<td>Штраф, Санкции</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Нарушение требований пожарной безопасности. Отсутствие или неисправность систем пожарной безопасности”</td>
									<td><span>150 000 - 200 000<span> руб.</td>
									</tr>
									<tr>
										<td>Однократное невыполнение предписания МЧС об устранении нарушений законодательства</td>
										<td><span>70 000 - 100 000<span> руб.</td>
										</tr>
										<tr>
											<td>Двукратное невыполнение предписания МЧС об устранении нарушений законодательства</td>
											<td><span>150 000 - 200 000</span> руб. или приостановка деятельности на срок в <span>90 суток</span></td>
										</tr>
										<tr>
											<td>Возникновение пожара с повреждением чужого имущества или нанесение вреда средней тяжести здоровью человека</td>
											<td><span>350 000 - 400 000</span> руб.</td>
										</tr>
										<tr>
											<td>Возникновение пожара с нанесением тяжкого вреда здоровью человека</td>
											<td><span>600 000 - 1 000 000</span> руб. или приостановка деятельности на срок в <span>90 суток</span></td>
										</tr>
									</tbody>
								</table>

								<p class="text-center penalties-table__notice">*Данные взяты из Кодекса РФ об административных правонарушениях</p>
							</div>
						</div>
						<!-- //container -->
					</section>

					<section class="sect__about-us-details">
						<div class="container">
							<h2 class="white-color sect__title text-center">Имеем все необходимые лицензии и допуски</h2>
							<div class="about-us-details">
								<div class="row row-nowrap align-horisontal-center about-us-details__row row-gutters">


									<div class="about-us-detail__wrapper">
										<div class="about-us-detail">
											<span class="about-us-detail__count">5+ лет</span>
											<p>Более 5 лет на рынке слаботочных систем</p>
										</div>
									</div>

									<div class="about-us-detail__wrapper">
										<div class="about-us-detail">
											<span class="about-us-detail__count">200+</span>
											<p>Более 200 разработанных проектов </p>
										</div>
									</div>

									<div class="about-us-detail__wrapper">
										<div class="about-us-detail">
											<span class="about-us-detail__count">500тыс.</span>
											<p>Более 50 000 единиц установленного оборудования</p>
										</div>
									</div>

									<div class="about-us-detail__wrapper">
										<div class="about-us-detail">
											<span class="about-us-detail__count">400</span>
											<p>Более 400 выполненных объектов</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //container -->
					</section>

					<section class="sect__licenses gutters">

						<div class="container">

							<!-- Clients -->
							<div class="clients">
								<div class="row align-vertical-center align-horisontal-start clients__row">
									<div class="clients__title--col">
										<h3 class="sect__title"><span>Успешно работаем</span> с клиентами разного уровня</h3>
									</div>

									<div class="clients__logos">
										<div class="client__logo">
											<img src="img/clients/1.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/2.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/3.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/4.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/5.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/6.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/7.png" alt="">
										</div>

										<div class="client__logo">
											<img src="img/clients/8.png" alt="">
										</div>

									</div>
								</div>
							</div>
							<!-- //Clients -->
						</div>
						<!-- //container -->
					</section>

					<!-- Section portfolio -->
					{% include '../parts/sections/sect-portfolio.html' %}
					<!--// Section portfolio -->

					<section class="sect__licenses gutters">
						<h2 class="text-center sect__title sect__title--gutter-sm container">Выполнили монтаж более чем на <span>400 объектах</span></h2>

						<div class="container">
							<div class="licenses__slider">
								<div class="swiper-container js-licenses-slider">
									<div class="swiper-wrapper">
										<!-- Slide -->
										<div class="swiper-slide">
											<div class="license__slide">
												<a href="img/license-1.jpg" class="license fancy-link" data-fancybox>
													<img src="img/license-1.jpg" alt="">
												</a>
												<p>Лицензия МЧС</p>
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="license__slide">
												<a href="img/license-2.jpg" class="license fancy-link" data-fancybox>
													<img src="img/license-2.jpg" alt="">
												</a>
												<p>Свидетельство о регистрации</p>
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="license__slide">
												<a href="img/license-3.jpg" class="license fancy-link" data-fancybox>
													<img src="img/license-3.jpg" alt="">
												</a>
												<p>Допуск СРО</p>
											</div>
										</div>
										<!-- //Slide -->
									</div>
								</div>

								<!-- Navigation -->
								<div class="text-center licenses__slider--navigation">
									<button class="slider__btn--arrow js-licenses-slider-btn-prev" type="button">
										<svg viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.340518 9.47406L7.78011 16.9532C8.23401 17.4095 8.97016 17.4095 9.42407 16.9532C9.87807 16.4968 9.87807 15.7569 9.42407 15.3005L3.9689 9.81633L23.8376 9.81633C24.4796 9.81633 25.0001 9.29307 25.0001 8.64772C25.0001 8.00246 24.4796 7.47911 23.8376 7.47911L3.9689 7.47911L9.42389 1.99496C9.87789 1.53855 9.87789 0.798674 9.42389 0.342263C9.19698 0.114243 8.89939 4.99784e-07 8.6019 4.73776e-07C8.30441 4.47769e-07 8.00692 0.114243 7.77992 0.342263L0.340518 7.82137C-0.113483 8.27778 -0.113483 9.01765 0.340518 9.47406Z" />
										</svg>

									</button>
									<button class="slider__btn--arrow js-licenses-slider-btn-next" type="button">
										<svg viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg">
											<path d="M24.6595 8.67846L17.22 1.23887C16.766 0.78496 16.0299 0.78496 15.576 1.23887C15.122 1.69287 15.122 2.42883 15.576 2.88283L21.0312 8.338L1.16244 8.338C0.520492 8.338 0 8.8585 0 9.50044C0 10.1423 0.520492 10.6629 1.16244 10.6629L21.0312 10.6629L15.5762 16.118C15.1222 16.5721 15.1222 17.308 15.5762 17.762C15.8031 17.9888 16.1007 18.1025 16.3982 18.1025C16.6956 18.1025 16.9931 17.9888 17.2201 17.762L24.6595 10.3224C25.1135 9.86842 25.1135 9.13246 24.6595 8.67846Z"/>
										</svg>

									</button>

								</div>
								<!-- //Navigation -->
							</div>

						</div>
						<!-- //container -->
					</section>


					<!-- Section form -->
					<section class="sect__form sect__form-lead" id="sectForm">
						<h2 class="sect__title sect__title--sm sect__title--gutter sect__title--mobile container text-center">Получите методичку и видеоинструкцию <span>Бесплатно</span></h2>

						<div class="container">

							<div class="row align-vertical-start align-horisontal-between sect__form--row">
								<div class="contacts__block">
									<h3 class="sect__title sect__title--gutter">Получите методичку и видеоинструкцию <span>Бесплатно</span></h3>
									<p>Они помогут вам подготовиться к прохождению проверки от МЧС и избежать штрафов</p>
									<img src="img/single-mockup.png" alt="">

									

								</div>

								<div class="form__wrapper">

									<div class="form__img">
										<img src="img/form-mockups.png" alt="">
									</div>

									<div class="form__block">
										<h4 class="form__block--title">Заполните эту форму, чтобы получить комплект материалов - бесплатно</h4>

										<form class="js-form" enctype="multipart/form-data" method="post" id="form">
											<!-- Hidden inputs -->
											<input type="hidden" name="project_name" value="DV Project">
											<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
											<input type="hidden" name="form_subject" value="Запрос на кп">
											<!-- // Hidden inputs -->
											<div class="input__wrapper">
												<label class="input__label">
													<span>Ваше Имя</span>
													<input type="text" class="input js-input" placeholder="Иван Иванов" name="name">
												</label>
											</div>

											<div class="input__wrapper">
												<label class="input__label">
													<span>Ваш телефон</span>
													<input type="tel" class="input js-input js-input-phone" placeholder="+7 (495) 000-00-00" name="phone">
												</label>
											</div>

											<div class="input__wrapper">
												<label class="input__label">
													<span>Ваше Email</span>
													<input type="email" class="input js-input" placeholder="mail@mail" name="email">
												</label>
											</div>

											<div class="input__wrapper">

												<label  class="input__file--label">
													<input type="file"  name="fileFF[]" multiple class="input__file" data-multiple-caption="Выбрано: {count} файла(ов)">
													<span>Прикрепить файл</span>
												</label>
												<span class="input__file--name is-active"></span>
											</div>

											<button type="submit" class="btn btn-wide text-center">
												<span class="btn__text">Получить Бесплатно</span>
											</button>
										</form>
									</div>


								</div>
							</div>
						</div>
						<!-- //container -->

					</section>
					<!-- //Section form -->

				</main>
				<!-- //Main -->

				<!-- Footer -->
				{% include '../parts/sections/blocks/footer.html' %}
				<!-- //Footer -->

				{% include '../parts/components/popup.html' %}

			</div>
			<!-- //CONTENT WRAPPER -->

			{% include '../parts/scripts.html' %}

		</body>

		</html>