{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main main-page-inside">

			<!-- Breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Выполненные работы</span></li>
					</ul>
				</div>
			</div>
			<!-- //Breadcrumbs -->

			<h1 class="container text-center sect__title page-title"><span>Успешно</span> выполненные работы</h1>

			<section class="page-content gutter-bottom">
				<div class="container">
					<div class="projects">
						<div class="row align-horisontal-start row-gutters projects__row">
							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->

							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->
							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->
							<!-- Project card -->
							<div class="project__card--wrapper">
								<a href="#" class="project__card">
									<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
							<!-- //Project card -->
						</div>
					</div>

					<div class="load-more text-center">
						<button class="load-more__btn" type="button">Больше Работ</button>
					</div>

					


				</div>
				<!-- //container -->
			</section>


			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->


			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>