{% include '../parts/head.html' %}
<body>


	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo color-bg bg sect__promo-service" style="background-image: url('img/backgrounds/services/skud-bg.jpg');">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Система СКДУ</span></li>
						</ul>
					</div>
				</div>
				<!-- //Breadcrumbs -->

				<div class="container">

					<div class="promo">

						<div class="row align-horisontal-between promo__row row-nowrap">

							<div class="promo__content">

								<h1 class="title title-skdu"><strong>Проектировани и монтаж</strong><br>Систем Конроля и управления доступом,<br><span>которая гарантированно пройдет проверку МЧС и предотвратит пожар</span></h1>
								
								<button class="btn" type="button">Бесплатная Консульация</button>

							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<section class="sect__skdu-advantages gutters">
				<div class="container">
					<h2 class="sect__title text-center">Контроль порядка и обеспечение <span>безопасности</span></h2>
					<p class="sect__subtext text-center">Спроектируем и установим систему, которая позволит с легкостью следить за безопасностью и порядком даже на крупном объекте со штатом из нескольких тысяч сотрудников</p>

					<div class="skdu-advantages">
						<div class="row row-gutters align-horisontal-between skdu-advantages__row">

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/1.svg')"></span>
									<h3>Домофоны</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/2.svg')"></span>
									<h3>Электронные замки на двери</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/3.svg')"></span>
									<h3>Cчитыватели карт</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/4.svg')"></span>
									<h3>Биометрические считыватели</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/5.svg')"></span>
									<h3>Турникеты и проходные</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/6.svg')"></span>
									<h3>Системы видео наблюдения</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/7.svg')"></span>
									<h3>Шлагбаумы и охрана периметра</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/8.svg')"></span>
									<h3>Охранная сигнализация</h3>
								</div>
							</div>

							<div class="skdu-advantage__wrapper">
								<div class="skdu-advantage">
									<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/skdu/9.svg')"></span>
									<h3>Специализированные программы</h3>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
				

			</section>

			<section class="sect__skdu-offer">
				<div class="container">
					<div class="skdu-offer white-color">
						<h2 class="sect__title">Подберем решение для небольшого офиса и крупного бизнес центра </h2>
						<p>Если у вас нет проекта, то просто опишите нам что вы хотите получить в итоге и мы поможем подобрать необходимое оборудование, составим смету и разработаем техническое задание</p>
						<button class="btn" type="button">Подобрать систему СКУД</button>

						<img src="img/skdu.jpg" alt="">
					</div>
				</div>
				<!-- //container -->
			</section>


			<section class="sect__our-experience">
				<h2 class="container text-center sect__title white-color">Поможем вам решить 3 основные задачи</h2>

				<div class="container">
					<div class="row align-horisontal-center our-experience__row row-gutters">
						<div class="our-experience__col skdu-help">
							<div class="our-experience ">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/5.svg');"></span>
								<h3>Обеспечение безопасности</h3>
								<p>Создадим систему, которая не допустит посторонних людей на вашу территорию и поможет предотвратить кражу</p>
							</div>
						</div>

						<div class="our-experience__col skdu-help">
							<div class="our-experience ">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/6.svg');"></span>
								<h3>Контроль сотрудников</h3>
								<p>Система будет сама отмечать во сколько приходят и уходят сотрудники, и сколько времени проводят на рабочем месте</p>
							</div>
						</div>

						<div class="our-experience__col skdu-help">
							<div class="our-experience ">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/7.svg');"></span>
								<h3>Ограничение доступа</h3>
								<p>Поможем разграничить рабочие места сотрудников и отгородить личное пространство</p>
							</div>
						</div>

					</div>
				</div>
				<!-- //container -->
			</section>



			<!-- Sect  estimate -->
			{% include '../parts/sections/sect-estimate.html' %}
			<!-- //Sect  estimate -->

			<section class="sect__advantages sect__guarantee-skdu">

				<div class="container">
					<div class="advantages">
						<div class="row align-horisontal-between advantages__row">

							<div class="advantages__content white-color ">
								<h2 class="sect__title sect__title--gutter">Ваши интересы будут защищены гарантиями</h2>
								<p>Гарантии занесены в договор, они имеют юридическую силу и дают вам дополнительную безопасность</p>
							</div>

							<div class="advantages__information img-decor-wrapper">
								

								<div class="skdu-guarantee__item">
									<span class="skdu-guarantee__item--ic" style="background-image: url('img/icons/svg/skdu/guarantee/1.svg');"></span>
									<div class="skdu-guarantee__item--content">
										<h3>Итоговая стоимость</h3>
										<p>Мы не будем навязываться Вам доп. соглашения и доп.сметы после начала работ. Если не изменятся объемы, то цена останется прежней</p>
									</div>
								</div>
								<div class="skdu-guarantee__item">
									<span class="skdu-guarantee__item--ic" style="background-image: url('img/icons/svg/skdu/guarantee/2.svg');"></span>
									<div class="skdu-guarantee__item--content">
										<h3>Исправление ошибок</h3>
										<p>Мы не будем навязываться Вам доп. соглашения и доп.сметы после начала работ. Если не изменятся объемы, то цена останется прежней</p>
									</div>
								</div>
								<div class="skdu-guarantee__item">
									<span class="skdu-guarantee__item--ic" style="background-image: url('img/icons/svg/skdu/guarantee/3.svg');"></span>
									<div class="skdu-guarantee__item--content">
										<h3>Соблюдение сроков</h3>
										<p>Мы не будем навязываться Вам доп. соглашения и доп.сметы после начала работ. Если не изменятся объемы, то цена останется прежней</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<!-- Section portfolio -->
			{% include '../parts/sections/sect-portfolio.html' %}
			<!--// Section portfolio -->

			<!-- Section licenses -->
			{% include '../parts/sections/sect-licenses.html' %}
			<!-- //Section licenses -->

			<!-- Section feedbacks -->
			{% include '../parts/sections/sect-feedbacks.html' %}
			<!-- //Section feedbacks -->

			<!-- Section form -->
			{% include '../parts/sections/sect-form.html' %}
			<!-- //Section form -->

			<!-- Section faq -->
			{% include '../parts/sections/sect-faq.html' %}
			<!-- //Section faq -->

			<!-- Section seo -->
			{% include '../parts/sections/sect-seo.html' %}
			<!-- //Section seo -->

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>