{% include '../parts/head.html' %}
<body>


	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo sect__promo-design">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Системы пожаротушения</span></li>
						</ul>
					</div>
				</div>
				<!-- //Breadcrumbs -->

				<div class="container">
					<div class="promo">

						<div class="row align-horisontal-between promo__row row-nowrap">

							<div class="promo__content">

								<h1 class="title">Разработаем проект на систему пожарной безопасности, которая предотвратит пожар и пройдет проверку МЧС</h1>
								

								<div class="commercial-proposal">

									<div class="decor-list decor-list-check">
										<ul>
											<li>Выполним бесплатный выезд на объект для осмотра</li>
											<li>Оптимизируем систему на основании практического опыта </li>
											<li>Сократим расходы на закупку оборудования</li>
										</ul>
									</div>

									<a href="#sectForm" class="btn ">Получить Предложение</a>

								</div>

								<div class="promo-design__img">
									<img src="img/promo-design.png" alt="">
								</div>
							</div>

							




						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<section class="sect__our-experience sect__our-experience--dark">
				<h2 class="container text-center sect__title white-color">Есть опыт разработки проектов для:</h2>

				<div class="container">
					<div class="row align-horisontal-center our-experience__row row-gutters">

						<div class="our-experience__col col-w-20">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/objects/1.svg');"></span>
								<p>Производств / логистических комплексов / складов</p>
							</div>
						</div>

						<div class="our-experience__col col-w-20">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/objects/2.svg');"></span>
								<p>БЦ / ТЦ / Офисов / Магазинов </p>
							</div>
						</div>

						<div class="our-experience__col col-w-20">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/objects/3.svg');"></span>
								<p>Многоквартирных домов / гостиниц / хостелов</p>
							</div>
						</div>

						<div class="our-experience__col col-w-20">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/objects/4.svg');"></span>
								<p>Серверных / ЦОД</p>
							</div>
						</div>

						<div class="our-experience__col col-w-20">
							<div class="our-experience">
								<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/objects/5.svg');"></span>
								<p>Объектов культурного наследия</p>
							</div>
						</div>

						
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__skdu-advantages gutters">
				<div class="container">
					<h2 class="sect__title sect__title--gutter text-center">Проектирование систем пожарной 
						безопасности <span>“под ключ”</span></h2>


						<div class="skdu-advantages">
							<div class="row row-gutters align-horisontal-start skdu-advantages__row">

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/1.svg')"></span>
										<h3>Автоматическая пожарная сигнализация</h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/2.svg')"></span>
										<h3>Спринклерное тушение </h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/3.svg')"></span>
										<h3>Модульное пожаротушение (Газовое / Порошковое / ТРВ / аэрозольное)</h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/4.svg')"></span>
										<h3>Системы оповещения и управления эвакуацией (СОУЭ)</h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/5.svg')"></span>
										<h3>Системы контроля и управления доступом (СКУД)</h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/6.svg')"></span>
										<h3>Системы дымоудаления</h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/7.svg')"></span>
										<h3>Огнезащитная обработка конструкций </h3>
									</div>
								</div>

								<div class="skdu-advantage__wrapper">
									<div class="skdu-advantage">
										<span class="skdu-advantage__ic" style="background-image: url('img/icons/svg/design/8.svg')"></span>
										<h3>Системы автоматики</h3>
									</div>
								</div>

							</div>
							<!-- //row -->
						</div>
						
					</div>
					<!-- //container -->


				</section>

				<!-- Section help -->
				{% include '../parts/sections/sect-help.html' %}
				<!-- //Section help -->


				<!-- sect advantages desing -->
				<section class="sect__design-advantages gutters bg bg-with-overlay" style="background-image: url('img/backgrounds/design-bg.jpg');">
					<div class="container">
						<h2 class="text-center sect__title sect__title--gutter white-color">Проект по пожарной безопасности поможет вам <span>сэкономить</span> время, деньги и нервы</h2>

						<div class="design-advantages white-color">
							<div class="row row-gutters design-advantages__row align-horisontal-start">
								<div class="col-w-33 col-gutters design-advantage__wrapper">
									<div class="design-advantage">
										<h3 class="design-advantage__title">Предсказуемый результат без ошибок</h3>
										<p>Если подрядчик будет выполнять монтаж по проекту, то вероятность, что система будет работать правильно и пройдет проверки составляет почти 100%.</p>
									</div>
								</div>

								<div class="col-w-33 col-gutters design-advantage__wrapper">
									<div class="design-advantage">
										<h3 class="design-advantage__title">Экономия на оборудовании и закупке</h3>
										<p>Все элементы, которые повлияют на конечную стоимость установленной системы будут согласованы с вами заранее, так вы сможете сразу понять примерный бюджет готовой системы</p>
									</div>
								</div>

								<div class="col-w-33 col-gutters design-advantage__wrapper">
									<div class="design-advantage">
										<h3 class="design-advantage__title">Упрощенный выбор исполнителя</h3>
										<p>Запрос цен на монтаж упрощается за счет того, что потенциальные исполнители дают смету на одинаковую систему, а не предлагают свои варианты, которые сложнее сравнить</p>
									</div>
								</div>

								<div class="col-w-33 col-gutters design-advantage__wrapper">
									<div class="design-advantage">
										<h3 class="design-advantage__title">Возможность контроля исполнения</h3>
										<p>С готовым проектом вам будет проще контролировать исполнителя в процессе работы. Вы сможете в любой момент сверить факт выполнения с планом</p>
									</div>
								</div>

								<div class="col-w-33 col-gutters design-advantage__wrapper">
									<div class="design-advantage">
										<h3 class="design-advantage__title">Упрощения организации процесса строительства</h3>
										<p>При подготовленном заранее проекте вам будет проще пройти проверки и организовать работу, особенно это касается смежных инженерных систем</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->


				</section>
				<!-- //sect advantages desing -->

				<section class="sect__services-additional alternate-color-bg">

					<div class="container">
						<div class="row align-horisontal-between  services-additional__row">
							<div class="title__col">
								<h2 class="sect__title--sm white-color"> Получите проект, который создан на основании актуальных требований и многолетнего практического опыта
								</h2>
							</div>

							<div class="services-additional__col img-decor-wrapper">

								<div class="alarm-content  decor-list decor-list-check">
									<h3>У нас есть 6 летний опыт монтажа систем пожарной безопасности и прохождения проверок, мы знаем не только документальную часть систем, но и практическую, поэтому мы проектируем систему так:</h3>
									<ul>
										<li>Чтобы она выглядела аккуратно после установки</li>
										<li>Чтобы она не включала в себя лишнего или необоснованно дорогого оборудования</li>
										<li>Чтобы она была проста в монтаже и обслуживании</li>
										<li>Чтобы она учитывала особенности объекта</li>
										<li>Чтобы она сочеталась со смежными системами</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>

				<!-- Section documents --> 
				<section class="sect__documents sect__documents-reverse">


					<div class="container">

						<div class="documents__block">
							<div class="row align-horisontal-start">

								<div class="documents">


									<img src="img/docs-2.png" alt="" class="documents__img">


									<h2 class="sect__title sect__title--gutter">Вы получите проект и инструкцию на монтаж</h2>

									<div class="decor-list">
										<p><b>По итогу работы у вас будет:</b></p>
										<ul>
											<li>Список необходимого оборудования и материалов</li>
											<li>Чертежи и структурные схемы, на которых показано где должно быть установлено оборудование</li>
											<li>Схемы подключения оборудования в единую систему</li>
											<li>Пояснительная записка с пояснениями о том, как нужно монтировать систему</li> 
											<li>Описание подключение к смежным системам </li> 
											<li>Техническое задание на монтаж системы для исполнителей </li> 
											<li>Коммерческое предложение на закупку оборудования и монтаж системы “под ключ” </li> 
											<li>Предложение по авторскому надзору, если вы выберете другого исполнителя</li>
										</ul>
									</div>

									<a href="#sectForm" class="btn btn-sm btn-with-img js-smooth-scroll-link">
										<span class="btn__content">
											<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
											<span class="btn__text">Получить коммерческое<br>предложение</span>
										</span>
									</a>


								</div>

							</div>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section documents -->

				<!-- Section project -->
				<section class="sect__need-project color-bg">
					<div class="container">
						<div class="row align-horisontal-end">
							<div class="need-project__content">
								<div class="need-project__content-block">
									<p class="need-project__content--text_lg">Получите коммерческое предложение на разработку проекта по системам пожарной безопасности</p>
									<button class="btn btn-with-img js-open-consultation-popup-btn">
										<span class="btn__content">
											<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
											<span class="btn__text">Получить</span>
										</span>
									</button>


								</div>

								<img src="img/project-2.png" alt="">
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section project -->

				<!-- SEction design information -->
				<section class="sect__information gutters">
					<div class="container">
						<div class="information-content">
							<p class="information-notice">Информация</p>
							<div class=" decor-list content">
								<h2>Разработка проектной документации производится на основании:</h2>
								<ul>
									<li>СП 3.13130.2009 Системы противопожарной защиты. Система оповещения и управления эвакуацией людей при пожаре. Требования пожарной безопасности;</li>
									<li>СП 5.13130.2009 Системы противопожарной защиты. Установки пожарной сигнализации и пожаротушения автоматические. Нормы и правила проектирования;</li>
									<li>Постановление правительства РФ №87 “О составе разделов проектной документации и требованиях к их содержанию”</li>
									<li>СП 6.13130.2013 Системы противопожарной защиты. Электрооборудование. Требования пожарной безопасности;</li>
									<li>СП 7.13130.2013 Отопление, вентиляция и кондиционирование. Требования пожарной безопасности;</li>
									<li>СП 8.13130.2009 Системы противопожарной защиты. Источники наружного противопожарного водоснабжения. Требования пожарной безопасности;</li>
									<li>СП 10.13130.2009 Системы противопожарной защиты. Внутренний противопожарный водопровод. Требования пожарной безопасности;</li>
									<li>ГОСТ Р 31565-2012 Кабельные изделия. Требования пожарной безопасности
									СП 4.13130.2013 Системы противопожарной защиты. Ограничение распространения пожара на объектах защиты. Требования к объемно-планировочным и конструктивным решениям;</li>
									<li>Федеральный закон от 22.07.2008г. № 123-ФЗ «Технический регламент о требованиях пожарной безопасности» (принят ГД ФС РФ 04.07.2008г.);</li>
									<li>СП 1.13130.2009 Системы противопожарной защиты. Эвакуационные пути и выходы;</li>
									<li>СП 2.13130.2012 Системы противопожарной защиты. Обеспечение огнестойкости объектов защиты;</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- //SEction design information -->

				<!-- Section portfolio -->
				{% include '../parts/sections/sect-portfolio.html' %}
				<!--// Section portfolio -->

				<!-- Section licenses -->
				{% include '../parts/sections/sect-licenses.html' %}
				<!-- //Section licenses -->

				<!-- Section feedbacks -->
				{% include '../parts/sections/sect-feedbacks.html' %}
				<!-- //Section feedbacks -->

				<!-- Section form -->
				{% include '../parts/sections/sect-form.html' %}
				<!-- //Section form -->

				<!-- Section faq -->
				{% include '../parts/sections/sect-faq.html' %}
				<!-- //Section faq -->

				<!-- Section seo -->
				{% include '../parts/sections/sect-seo.html' %}
				<!-- //Section seo -->

				<!-- Section contacts -->
				{% include '../parts/sections/sect-contacts.html' %}
				<!-- //Section contacts -->


			</main>
			<!-- //Main -->

			<!-- Footer -->
			{% include '../parts/sections/blocks/footer.html' %}
			<!-- //Footer -->

			{% include '../parts/components/popup.html' %}

		</div>
		<!-- //CONTENT WRAPPER -->

		{% include '../parts/scripts.html' %}

	</body>

	</html>