{% include '../parts/head.html' %}
<body class="custom-page">



	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main ">

			<!-- Section promo -->
			<section class="sect__promo">

				<!-- Breadcrumbs -->
				<div class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs__list">
							<li class="breadcrumbs__item"><a href="index.html" class="breadcrumbs__link">Главная</a></li>
							<li class="breadcrumbs__item"><span class="breadcrumbs__link is-active">Пожарная сигнализация</span></li>
						</ul>
					</div>
				</div>
				<!-- //Breadcrumbs -->

				<div class="container">
					<div class="promo promo-service">

						<div class="row align-horisontal-end promo__row row-nowrap">

							<div class="promo-img promo-img__with-text">
								<img src="img/new/promo/10.png" alt="">

								<div class="promo-img__text">
									<p>Установим все виды систем пожарной безопасности</p>
								</div>
							</div>

							<div class="promo__content">

								<h1 class="title">Выполним монтаж систем пожарной безопасности, которые предотвратят пожар и пройдут проверки</h1>


								

								<div class="kp-offer">
									<p class="quiz-offer__label">Оставьте заявку и получите бесплатный подбор системы пожаротушения и коммерческое предложение</p>



									<button class="btn-secondary btn-secondary-tall btn-wide js-open-consultation-popup-btn" type="button">Получить коммерческое предложение</button>

								</div>

								<div class="promo-advantages">
									<div class="promo-advantage">
										<img src="img/new/mini-1.png" alt="">
										<p>КП со детальным списком оборудования и ценами на установку</p>
									</div>

									<div class="promo-advantage">
										<img src="img/new/mini-2.png" alt="">
										<p>Схему с расстановкой оборудования созданную специально для вашего объекта</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->



			</section>
			<!-- //Section promo -->

			{% include '../parts/sections/new-sections/service-page/sect-guaranties.html' %}
			<!-- // guaranties -->

			<section class="sect__services-cards-module alternate-color-bg">
				<h2 class="container sect__title">Установим все виды систем пожарной безопаснсоти</h2>

				<div class="container">

					<div class="row services-cards-module__row align-horisontal-start">
						<div class="service-card-module__wrapper ">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/14.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Проектирование систем пожарной безопаснсоти</a>
								</h3>
								<p>Проект поможет выбрать системы, рассчитать и утвердить перечень оборудования и технические решения</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper ">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/1.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Пожарная сигнализация и оповещение</a>
								</h3>
								<p>Автоматическая пожарная сигнализация поможет обнаружить пожар и эвакуировать людейв</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/16.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Системы<br> пожаротушения</a>
								</h3>
								<p>Системы пожаротушения позволят предупредить распространение пожара на ранней стадии</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->

						<div class="service-card-module__wrapper">
							<div class="service-slide b-radius">
								<div class="service-slide__img">
									<img src="img/new/services/17.png" alt="">
								</div>
								<h3 class="title-h3">
									<a href="#">Техническое<br> обслуживание</a>
								</h3>
								<p>Обслуживание позволит поддерживать установленные системы в исправном состоянии</p>
								<div><a href="#" class="btn-ghost btn-ghost-accent">Подробнее</a></div>
							</div>
						</div>
						<!-- //card -->
					</div>

				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/new-sections/service-page/sect-offer.html' %}
			<!-- // offer -->

			{% include '../parts/sections/new-sections/service-page/sect-tasks.html' %}
			<!-- // tasks -->

			
			<section class="sect__services-handling gutters-sm alternate-color-bg">

				<div class="container">



					<div class="border-block">
						<div class="pay-fines">
							<div class="pay-fines__img">
								<img src="img/new/11.png" alt="">
							</div>
							<div class="pay-fines__offer">
								<div class="block-description">
									<h2 class="sect__title">Оплатим штрафы от МЧС<br> из своего кармана</h2>
									<p>Если вам выпишут штраф за нашу работу, то мы оплатим его сами</p>
								</div>

								<div class="pay-fines__offer-guaranties pay-fines__offer-guaranties_sm b-radius block-bg">
									<img src="img/new/4.png" alt="">
									<h3 class="title-h3">Гарантии прописаны<br> в договоре</h3>

								</div>

								<div class="quiz-offer">
									<p class="quiz-offer__label">Оставьте заявку и получите коммерческое предложение на техническое обслуживание систем</p>

									<button class="btn-secondary btn-secondary-tall btn-wide js-open-consultation-popup-btn" type="button">Получить коммерческое предложение</button>




								</div>
							</div>
						</div>
					</div>

					<div class="border-block">
						<div class="free-engineer">

							<img src="img/new/12.png" alt="">

							<div class="free-engineer__content">
								<h2 class="sect__title">Бесплатно отправим к вам инженера для обследования и составления расчёт</h2>
								<ul class="marker-list">
									<li>Еще не выбрали систему?</li>
									<li>Нет планировок и данных для расчета?</li>
									<li>Есть существующая система?</li>
								</ul>

								<div class="free-engineer__order">
									<p>Оставьте заявку для оформления бесплатного<br> выезда на осмотр</p>
									<button class="btn-secondary btn-secondary-tall btn-wide js-open-engineer-popup-btn" type="button">Оформить бесплатный выезд</button>
								</div>
							</div>


						</div>
					</div>

				</div>
				<!-- //container -->
			</section>

			<section class="sect__checkout gutters-sm">
				<div class="container">


					<div class="examination">
						<div class="row row-nowrap">

							<div class="block-description">
								<h2 class="sect__title">Можем выполнить работу и пройти проверку любого уровня сложности</h2>
								<p>У нас есть большой опыт успешной сдачи объектов различным надзорным органам и управляющим компаниями, в том числе иностранными</p>
							</div>

							<div class="examination-logos">
								<div class="examination-logo">
									<img src="img/new/logos/1.png" alt="">
									<p>МЧС РФ<br> Госпожнадзор</p>
								</div>

								<div class="examination-logo">
									<img src="img/new/logos/2.png" alt="">
									<p>Департамент образования г.Москва</p>
								</div>

								<div class="examination-logo">
									<img src="img/new/logos/3.png" alt="">
									<p>Государственный строительный надзор</p>
								</div>
							</div>


						</div>
					</div>

					<div class="our-experience-items hidden-mobile">
						<h3 class="sect__title-sm">У нас есть опыт работы с:</h3>
						<div class="row align-horisontal-start">
							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/1.png" alt="">
								</div>
								<p>Магазинами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/2.png" alt="">
								</div>
								<p>Кафе и ресторанами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/3.png" alt="">
								</div>
								<p>ТРЦ / ТЦ / ТРК</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/4.png" alt="">
								</div>
								<p>Серверными и ЦОД</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/5.png" alt="">
								</div>
								<p>Жилыми домами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/6.png" alt="">
								</div>
								<p>Офисами / БЦ</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/7.png" alt="">
								</div>
								<p>Больницами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/8.png" alt="">
								</div>
								<p>Отелями / хостелами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/9.png" alt="">
								</div>
								<p>Складами / Логистическими комлексами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/10.png" alt="">
								</div>
								<p>Производствами / Заводами</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/11.png" alt="">
								</div>
								<p>Административными сооружениями</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/12.png" alt="">
								</div>
								<p>ТЭЦ</p>
							</div>
							<!-- //item -->

							<div class="our-experience-item">
								<div class="our-experience-item__img thumbnail">
									<img src="img/new/exp/13.png" alt="">
								</div>
								<p>Паркингами</p>
							</div>
							<!-- //item -->
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__mounting gutters-sm alternate-color-bg">
				<div class="container">

					<div class="about-us row row-nowrap align-vertical-end">
						<h2 class="sect__title hidden-desktop visible-tablet">Мы лицензированная компания с хорошей репутацией и штатом опытных специалистов</h2>

						<a href="img/license-1.jpg" data-fancybox="licenses" class="our-licenses">
							<img src="img/new/7.png" alt="">
							<div class="our-licenses__info b-radius block-bg">
								<p>Лицензия</p>
								<p class="our-licenses__number">МЧС № 77-06-2015-002960 (77-Б/02486)</p>
							</div>

							<span class="our-licenses-gallery">
								<a href="img/license-2.jpg" data-fancybox="licenses"></a>
								<a href="img/license-3.jpg" data-fancybox="licenses"></a>

							</span>
						</a>

						<div class="about-us__content">
							<p class="sect__title hidden-tablet">Мы лицензированная компания с хорошей репутацией и штатом опытных специалистов</p>

							<div class="about-us__parametrs">
								<div class="about-us__parametr">
									<span class="about-us__parametr-value">8</span>
									<p>Лет на рынке<br> пожарной<br> безопасности</p>
								</div>

								<div class="about-us__parametr">
									<span class="about-us__parametr-value">543</span>
									<p>Выполненных объекта</p>
								</div>

								<div class="about-us__parametr">
									<span class="about-us__parametr-value">47</span>
									<p>Штатных сотрудника</p>
								</div>

								<div class="about-us__parametr">
									<span class="about-us__parametr-value">0</span>
									<p>Судебных<br> исков</p>
								</div>
							</div>

							<a href="https://www.youtube.com/watch?v=r-9jmgXG9Ug" data-fancybox target="_blank" class="about-us__video">
								<span class="about-us__video-img">
									<img src="img/new/8.png" alt="">
									<span class="about-us__video-btn">

										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
											<g><path d="M898.1,500.1c0,33.7-19.5,63.1-48.5,79.1l0,0L251.8,976.6c-0.2,0.2-0.6,0.4-0.8,0.5l-0.4,0.2l0,0c-14.7,8.1-31.8,12.7-50.1,12.7c-54.4,0-98.6-41.2-98.6-91.9l0,0V101.9l0,0c0-50.7,44.1-91.9,98.6-91.9c18.3,0,35.4,4.7,50.1,12.8l0,0L251,23c0.2,0.2,0.5,0.4,0.8,0.5l598,397.6l0,0C878.6,436.9,898.1,466.3,898.1,500.1L898.1,500.1z"/></g>
										</svg>
									</span>
								</span>
								<span class="about-us__video-text">Посмотрите видео о компании и наших услугах</span>
							</a>
						</div>
					</div>

				</div>
				<!-- //container -->
			</section>

			

			{% include '../parts/sections/new-sections/sect-projects.html' %}
			<!-- //sect projects -->


			{% include '../parts/sections/new-sections/sect-feedbacks.html' %}
			<!-- //sect new feedbacks -->

			{% include '../parts/sections/new-sections/sect-description.html' %}
			<!-- //sect description -->

			{% include '../parts/sections/new-sections/sect-blog.html' %}
			<!-- //sect blog -->

			{% include '../parts/sections/new-sections/sect-map.html' %}
			<!-- //sect map -->

			




		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->


		{% include '../parts/components/popup-new.html' %}

		<!-- Popup privacy-->
		{% include '../parts/components/popup-privacy.html' %}
		<!-- //Popup privacy-->
	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>