{% include '../parts/head.html' %}
<body>

	<script>

	</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/blocks/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main page-lead">

			<!-- Section promo -->
			<section class="sect__promo-quiz bg --dark-mode" style="background-image: url('img/backgrounds/quiz-bg.jpg')">


				<div class="container">

					<div class="quiz-promo-block">
						<div class="quiz-promo-block__content">
							<h1 class="title"><span>Получите</span> коммерческое предложение <span>на монтаж<br> пожарной сигнализации</span></h1>
							<p class="quiz-promo-block__text">Пройдите короткий опрос, чтобы<br>получить коммерческое предложение </p>

							<div class="quiz-promo-block__btn">
								<a href="#" class="btn" target="_blank">Получить коммерческое предложение</a>

								<div class="quiz-promo-block__offer">
									<img src="img/mini-dark.png" alt="">
									<p>Вместе с КП вы получите предварительную расстановку и техническое задание для вашего объекта.</p>
								</div>
							</div>
						</div>

						<div class="quiz-promo-block__img">
							<img src="img/quiz-img-dark.png" alt="">
						</div>
					</div>

					

				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->


		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/blocks/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>