{% include '../parts/head.html' %}
<body>
	<script>
(function(w, d, s, h, id) {
    w.roistatProjectId = id; w.roistatHost = h;
    var p = d.location.protocol == "https:" ? "https://" : "http://";
    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
})(window, document, 'script', 'cloud.roistat.com', '991dc1c03e29153dc7593e066d371f7e');
</script>

	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">


			<section class="page-content section__thanks sect-decor white-color">
				<div class="container text-center" >
					<p class="thanks-title">Мы получили вашу заявку</p>
					<p class="thanks-text">и скоро свяжемся с вами</p>
					<a href="index.html" class="btn btn-light">вернуться на главную</a>
				</div>
				<!-- //container -->
			</section>




		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popup.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>