<div class="articles-list b-radius">
	<article class="article-list">
		<p class="article-date">10.03.2022</p>
		<h3 class="title-h3">
			<a href="#">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="article-card__preview">
			<p>Монтаж слаботочных систем в сжатые сроки и с повышенными требованиями</p>
		</div>
	</article>

	<article class="article-list">
		<p class="article-date">10.03.2022</p>
		<h3 class="title-h3">
			<a href="#">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="article-card__preview">
			<p>Монтаж слаботочных систем в сжатые сроки и с повышенными требованиями</p>
		</div>
	</article>

	<article class="article-list">
		<p class="article-date">10.03.2022</p>
		<h3 class="title-h3">
			<a href="#">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="article-card__preview">
			<p>Монтаж слаботочных систем в сжатые сроки и с повышенными требованиями</p>
		</div>
	</article>

	<article class="article-list">
		<p class="article-date">10.03.2022</p>
		<h3 class="title-h3">
			<a href="#">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="article-card__preview">
			<p>Монтаж слаботочных систем в сжатые сроки и с повышенными требованиями</p>
		</div>
	</article>

	<article class="article-list">
		<p class="article-date">10.03.2022</p>
		<h3 class="title-h3">
			<a href="#">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="article-card__preview">
			<p>Монтаж слаботочных систем в сжатые сроки и с повышенными требованиями</p>
		</div>
	</article>
</div>