<nav class="nav">
	<ul>
		<li class="menu-item-has-children">
			<a href="#">Наши услуги</a>

			<ul class="sub-menu">
				<li>
					<span>
						<img src="img/icons/svg/services-cards/1.svg" alt="">
					</span>
					<a href="#">Пожарная сигнализация</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/2.svg" alt="">
					</span>
					<a href="#">Системы пожаротушения</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/3.svg" alt="">
					</span>
					<a href="#">Огнезащитная обработка</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/1.svg" alt="">
					</span>
					<a href="#">Пожарная сигнализация</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/2.svg" alt="">
					</span>
					<a href="#">Системы пожаротушения</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/3.svg" alt="">
					</span>
					<a href="#">Огнезащитная обработка</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/1.svg" alt="">
					</span>
					<a href="#">Пожарная сигнализация</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/2.svg" alt="">
					</span>
					<a href="#">Системы пожаротушения</a>
				</li>
				<li>
					<span>
						<img src="img/icons/svg/services-cards/3.svg" alt="">
					</span>
					<a href="#">Огнезащитная обработка</a>
				</li>
			</ul>
		</li>
		<li><a href="page-portfolio.html">Выполненные работы</a></li>
		<li><a href="#">О компании</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
</nav>
