<!-- Popup -->
<div class="popup js-popup">
	<div class="popup__overflow">

		<div class="popup__body text-center">
			<button class="btn__close js-close-popup-btn" type="button">
				<svg  viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
					<g>
						<path d="M16.6571 15.0008L29.6565 2.00133C30.1142 1.54365 30.1142 0.80162 29.6565 0.344004C29.1989 -0.113612 28.4568 -0.113671 27.9992 0.344004L14.9997 13.3435L2.00033 0.344004C1.54266 -0.113671 0.800628 -0.113671 0.343012 0.344004C-0.114604 0.801679 -0.114663 1.54371 0.343012 2.00133L13.3424 15.0007L0.343012 28.0002C-0.114663 28.4579 -0.114663 29.1999 0.343012 29.6575C0.57182 29.8863 0.871761 30.0007 1.1717 30.0007C1.47164 30.0007 1.77153 29.8863 2.00039 29.6575L14.9997 16.6581L27.9991 29.6575C28.228 29.8863 28.5279 30.0007 28.8278 30.0007C29.1278 30.0007 29.4277 29.8863 29.6565 29.6575C30.1142 29.1999 30.1142 28.4578 29.6565 28.0002L16.6571 15.0008Z"/>
					</g>
				</svg>
			</button>

			<h3 class="popup__title white-color sect__title">Подбор системы пожарной<br>безопасности</h3>

			<!-- Popup content-->
			<div class="popup__content">
				<div class="form__block">
					<h4 class="form__block--title">Заполните форму и мы поможем вам подобрать систему для обеспечения пожарной безопасности</h4>

					<form class="js-form">
						<!-- Hidden inputs -->
						<input type="hidden" name="project_name" value="DV Pproject">
						<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
						<input type="hidden" name="form_subject" value="Попап форма">
						<!-- // Hidden inputs -->
						<div class="input__wrapper">
							<label class="input__label text-left">
								<span>Ваше Имя</span>
								<input type="text" class="input js-input" placeholder="Иван Иванов" name="name">
							</label>
						</div>

						<div class="input__wrapper">
							<label class="input__label text-left">
								<span>Ваш телефон</span>
								<input type="tel" class="input js-input js-input-phone" placeholder="+7 (495) 000-00-00" name="phone">
							</label>
						</div>

						<div class="input__wrapper">
							<label class="input__label text-left">
								<span>Ваше Email</span>
								<input type="email" class="input js-input" placeholder="mail@mail" name="email">
							</label>
						</div>

						<div class="input__wrapper">
							
							<label  class="input__file--label">
								<input type="file" name="fileFF[]" multiple class="input__file" data-multiple-caption="Выбрано: {count} файла(ов)">
								<span>Прикрепить файл</span>
							</label>
							<span class="input__file--name is-active"></span>
						</div>


						<button class="btn btn-wide btn-lg" type="submit">Получить коммерческое предложение</button>
					</form>
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->