<div class="swiper-slide">
	<div class="project-slide">
		<div class="project-slide__slider">
			<div class="swiper-container js-project-slide-slider">
				<div class="swiper-wrapper">
					
					<div class="swiper-slide">
						<div  class="thumbnail">
							<img src="img/project-slide.jpg" alt="">
						</div>
					</div>
				
					<div class="swiper-slide">
						<div   class="thumbnail">
							<img src="img/project-slide.jpg" alt="">
						</div>
					</div>
					
				</div>
			</div>

			

			<div class="rounded-slider-pagination js-project-slide-slider-pagination"></div>
		</div>

		<!-- <div class="project-slide__thumbnail">
			<div class="thumbnail">
				<img src="img/project-slide.jpg" alt="">
			</div>
			<div class="project-tags">
				<ul>
					<li>Газовое пожаротушение</li>
					<li>Пожарная сигнализация</li>
					<li>Мелкодисперсное пожаротушение</li>
					<li>Водяное пожаротушение</li>
					<li>Пенное пожаротушение</li>
				</ul>
			</div>
		</div> -->
		<h3 class="title-h3">
			<a href="page-single.html">Центр дистрибуции ООО «Адидас»</a>
		</h3>
		<div class="project-slide__preview">
			<p>Монтажные работы в сжатые сроки в условиях действующего предприятия</p>
		</div>

		<div><a href="#" class="btn-ghost">Подробнее</a></div>
		
	</div>
</div>