.btn
	display inline-block
	padding  20px
	position relative
	transition all .17s ease-in-out
	backface-visibility hidden
	font 16px $Reg
	line-height 19px
	background-color $accent-color
	border-radius 9px
	text-align left
	color $white-color
	&.text-center
		text-align center
	&-secondary
		display inline-block
		background-color $secondary-color
		text-align center
		border-radius 8px
		padding 16px
		font 14px $Med
		text-transform uppercase
		color $white-color
		border 1px solid $secondary-color
		overflow hidden
		position relative
		&:after
			pseudo()
			position absolute
			top -50%
			bottom -50%
			background linear-gradient(90deg,rgba(255,255,255,0.1),rgba(255,255,255,0.6) 100%)
			width 45px
			transform skewX(-22deg)
			left -65%
			animation-name blick
			animation-duration 2s
			animation-iteration-count infinite
			
		&:hover
			background-color lighten($secondary-color, 7%)
			border-color lighten($secondary-color, 7%)
			transform scale(1.05, 1.05)
		&-lg
			padding-left 86.5px
			padding-right 86.5px
		&-tall
			padding-top 24px
			padding-bottom 24px
			font-size 18px
	&-sm
		padding-top 11px
		padding-bottom 11px
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
	&-lg
		padding-top 15px
		padding-bottom 15px
		font-size 24px
		text-align center
		line-height 24px
		
	&-with-ic
		display flex 
		flex-wrap nowrap
		align-items center
		justify-content center
		svg
			display inline-block
			flex none
			width 22px
			height 22px
			transition fill .17s ease-in-out
			margin-right 8px
			fill $white-color
		&:hover
			svg
				fill $secondary-color
		
	&-transparent
		background-color transparent
		border 1px solid $accent-color
		color $accent-color
		text-align center
		&:hover
			background-color $accent-color
			color $white-color
			
		&-secondary
			display inline-block
			border-color $secondary-color
			color $secondary-color
			text-transform uppercase
			padding 16px 32px
			font 14px $Med
			&:hover
				background-color $secondary-color
				color $white-color
				
		
				
		&.btn-with-ic
			svg
				fill $secondary-color
			&:hover
				svg
					fill $white-color
			
				
	&-ghost
		display inline-block
		text-align center
		border 1px solid #E7E8E9
		border-radius 8px
		padding 8px 16px
		font 12px $Reg
		text-transform uppercase
		color #E7E8E9
		&:hover
			background-color $secondary-color
			color $white-color !important
		&-accent
			border-color $secondary-color
			color $secondary-color
			&:hover
				background-color $secondary-color
				color $white-color !important
			
	&-permalink
		text-align center
		display inline-block
		background-color $white-color
		border-radius 8px
		color $secondary-light-text-color
		border 1px solid $secondary-light-text-color
		padding 8px 16px
		text-transform uppercase
		font 12px $Reg
		transition all .17s ease-in-out
		&:hover
			background-color $secondary-color
			border-color $secondary-color
			color $white-color
				
	&-arrow
		display inline-block
		position relative
		border-radius 50%
		background-color $alternate-color-bg
		width 64px
		height 64px
		
		svg
			fill-rule evenodd
			clip-rule evenodd
			display inline-block
			transition fill .17s ease-in-out
			position absolute
			position-center()
			width 13px
			height 23px
			fill $accent-color
			
		&:hover
			background-color $accent-color
			svg
				fill $white-color
				
		&-secondary
			svg
				fill $secondary-color
			&:hover
				background-color $secondary-color
		
	
		
	&-with-img
		padding-left 100px
		padding-right 50px
		
	&__content
		display block
	&__img
		display block
		width 90px
		height 80px
		position absolute
		left 0
		vertical-center()
		z-index 1
	
	&:hover
		background-color darken($accent-color, 10%)
		
	&-light
		background-color $white-color
		color $accent-color
		text-transform uppercase
		&:hover
			color $accent-color
			background-color $white-color
			opacity .75
		
	&__close
		display inline-block
		width 65px
		height 65px
		border-radius 50%
		border 2px solid rgba($white-color, .3)
		position absolute
		
		svg
			display block
			width 30px
			height 30px
			fill $white-color
			fill-opacity .3
			position absolute
			position-center()
			transition fill-opacity .17s ease-in-out
			
		&:hover
			border-color $white-color
			svg
				fill-opacity 1
				
	&-toggle
		display none
		width 20px
		height 20px
		background url('../img/icons/svg/nav-link-arrow.svg') 50% no-repeat / 12px
		will-change transform
		&.is-toggled
			transform rotate(-180deg)
		
	&__search
		padding 20px 30px
		display flex
		align-items center
		justify-content center
		&--ic
			display inline-block
			width 25px
			height 25px
			bg-img('../img/icons/svg/search.svg', 25px, 25px)
			flex none
			margin-right 10px
			

	&-top
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($dark-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $dark-color
			border-right 1px solid $dark-color
			transition all .23s ease-in-out
		&:hover
			background-color $dark-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

	&__hamburger
		display none
		flex none
		width 63px
		height 63px
		background-color #3A3939
		transition background-color .17s ease-in-out
		position absolute
		right 0
		top 0
		z-index 6
		&--line
			width 27px
			height 2px
			background-color $white-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			background-color $accent-color
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		


	&-ic
		display inline-block
		width 40px
		height 40px
		background-size 40px 40px
		background-repeat no-repeat
		background-position 50% 50%
		&:hover
			opacity .7
		&-whatsapp
			background-image url('../img/icons/svg/whatsapp.svg')
		&-telegram
			background-image url('../img/icons/svg/telegram.svg')
			

.big-link--with-arrow
	display inline-block
	padding 40px
	background-color $text-color
	color $white-color
	font 20px $Light
	text-align left
	&:hover
		background-color darken($accent-color, 10%)
	&__accent
		background-color $accent-color
		
	span
		display block
		position relative
		padding-right 40px
		&:before
			pseudo()
			position absolute
			vertical-center()
			right 0
			width 30px
			height 14px
			background url('../img/icons/svg/link-arrow.svg') no-repeat / contain
			

.btn-toggle-list
	position relative
	&:before
		content attr(data-default-text)
	&.is-toggled
		&:before
			content attr(data-toggled-text)
			

@keyframes blick
	0%
		left -65%
	100%
		left 105%