.form
	max-width 600px
	margin 40px auto
	
.input
	display block
	width 100%
	padding 15px 20px
	text-align left
	background-color $white-color
	border-radius 3px
	border 1px solid #DEDEDE
	font 16px $Reg
	color $text-color
	&:hover,
	&:focus
		border-color $accent-color
	&::-webkit-input-placeholder
		font 14px $Italic
		color #C5C5C5
	&::-moz-placeholder
		font 14px $Italic
		color #C5C5C5
	&:-moz-placeholder
		font 14px $Italic
		color #C5C5C5
	&:-ms-input-placeholder
		font 14px $Italic
		color #C5C5C5
		
	&__wrapper
		margin-bottom 15px
		position relative
		
	&.is-error
		border-color red
		
	&__label
		display block
		span
			font 14px $Reg
			display inline-block
			margin-bottom 8px
	
	&__file
		position absolute
		left 0
		top 0
		opacity 0
		
		&--label
			display block
			cursor pointer
			border 1px dashed #DEDEDE
			border-radius 3px
			padding 20px
			text-align center
			transition border-color .17s ease-in-out
			span
				pointer-events none
				display inline-block
				position relative
				font 14px $Reg
				color $lighter-text-color
				padding-left 30px
				&:before
					pseudo()
					position absolute
					left 0
					vertical-center()
					width 20px
					height 20px
					background url('../img/icons/svg/file.svg') 50% 50% no-repeat / 20px 20px
					
			&:hover
				border-color $accent-color
					
		&--name
			margin-top 5px
			font-size 12px
			color $lighter-text-color
			display none
			&.is-active
				display block

.checkbox,
.radio
	position relative
	display inline-block
	margin-left 0
	padding-left 25px
	font 1em $Reg
	line-height 1
	color $text-color
	&:before,
	&:after
		pseudo()
		transition all .25s ease-in-out
		position absolute
		left 0
		vertical-center()
			
	&__label
		cursor pointer
		display inline-block
		input
			display none

.checkbox
	&:before
		border-radius 4px
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color transparent
	&:after
		width 12px
		height 12px
		background url('../img/icons/svg/checkbox-ic.svg') 50% 50% no-repeat
		background-size 12px 12px
		position absolute
		left 3px
		top 8px
		opacity 0
	&__label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1
			
.radio
	&:before
	&:after
		border-radius 50%
	&:before
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color $transparent
	&:after
		width 12px
		height 12px
		background-color $light-color
		left 3px
		top 8px
		opacity 0
		
	&__label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1

		