.ic
	&-worktime,
	&-address
		&:before
			pseudo()
			width 15px
			height 15px
			position absolute
			vertical-center()
			left 0
			background-repeat no-repeat
			background-size 15px 15px
			background-position 50% 50%
			
	&-worktime
		&:before
			background-image url('../img/icons/svg/clock.svg')
	&-address
		&:before
			background-image url('../img/icons/svg/address.svg')
			


.phone-link,
.roistat-phone
	display inline-block
	position relative
	padding-left 25px
	font 16px $Bold
	line-height 1
	color $dark-color
	margin-bottom 8px
	&:hover
		color $accent-color
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 18px
		height 18px
		background url('../img/icons/svg/phone.svg') 50% 50% no-repeat / 18px 18px

		
.mail-link
	display inline-block
	position relative
	padding-left 25px
	font-size 14px
	line-height 1
	color #979797
	&:hover
		color $accent-color
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 15px
		height 15px
		background url('../img/icons/svg/email.svg') 50% 50% no-repeat / 15px 15px
		

.img-decor
	position absolute
	pointer-events none
	img 
		display block
	&-wrapper
		position relative
		

.fancy-link
	&:hover
		opacity .5
		

.socials
	font-size 0
	margin-top 35px
	&__item
		display inline-block
		margin-right 20px
		&:last-child
			margin-right 0
	&__link
		width 30px
		height 30px
		display block
		svg
			display block
			width 100%
			height 100%
			fill-rule evenodd 
			clip-rule evenodd
			fill $white-color
		&:hover
			opacity .7
		
