<section class="sect__blog gutter-top-sm alternate-color-bg">
	<div class="container">


		<div class="blog">
			<h2 class="sect__title">Блог</h2>

			<div class="articles-cards__row  row align-horisontal-start ">
				{% include '../../components/article-card.html' %}
				<!-- //article -->

				{% include '../../components/article-card.html' %}
				<!-- //article -->

				{% include '../../components/article-card.html' %}
				<!-- //article -->

			</div>
		</div>



		<div class="text-center blog-link">
			<a href="#" class="btn-secondary btn-secondary-lg">Перейти в блог</a>
		</div>




	</div>
	<!-- //container -->
</section>