<section class="sect__projects gutters-sm">
	<h2 class="container sect__title">543 выполненных объекта в Москве и МО</h2>

	<div class="container">
		<div class="projects-slider">
			<div class="swiper-container js-projects-slider">
				<div class="swiper-wrapper">
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
					{% include '../../components/project-slide.html' %}
					<!-- //slide -->
				</div>
			</div>

			<div class="projects-slider-controls">
				<div class="slider-controls">
					<button class="btn-arrow btn-arrow-secondary js-projects-slider-btn-prev" type="button">
						<svg  viewBox="0 0 13 23"  xmlns="http://www.w3.org/2000/svg">
							<path  d="M1.68629 13.1007L11.5856 23L12.9998 21.5858L3.10051 11.6865L13 1.78703L11.5858 0.372818L1.68629 10.2723L1.68606 10.2721L0.271848 11.6863L0.272079 11.6865L1.68629 13.1007Z" />
						</svg>

					</button>
					<div class="rounded-slider-pagination js-projects-slider-pagination"></div>
					<button class="btn-arrow btn-arrow-secondary js-projects-slider-btn-next" type="button">
						<svg viewBox="0 0 13 23"  xmlns="http://www.w3.org/2000/svg">
							<path  d="M11.314 9.89975L1.41421 0L0 1.41421L9.89975 11.314L0.000743985 21.213L1.41496 22.6272L12.7287 11.3135L11.3145 9.89926L11.314 9.89975Z" />
						</svg>

					</button>
				</div>

				<a href="page-portfolio.html" class="btn-transparent btn-transparent-secondary b-radius">Показать больше</a>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>