<section class="sect__portfolio alternate-color-bg gutters">
	<h2 class="text-center sect__title container"><span>Успешно</span> выполненные работы</h2>


	<div class="container">
		<!-- DEsktop slider -->
		<div class="portfolio__slider portfolio__slider--desktop">
			<div class="swiper-container js-portfolio-desktop-slider">
				<div class="swiper-wrapper">
					<!-- Slide -->
					<div class="swiper-slide">
						<div class="portfolio__slide">
							<div class="portfolio__slide--col">

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									
									<span class="project__card--content">
										<span class="project__card--title">Логистический комплекс ООО “Мобис Партс СНГ”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									
									<span class="project__card--content">
										<span class="project__card--title">Торговый центр в Орехово-Зуево</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

							</div>

							<div class="portfolio__slide--col "  >
								<a href="#" class="project__card bg" style="background-image: url('img/project-thumbnail-2.jpg');" target="_blank">
									
									<span class="project__card--content">
										<span class="project__card--title">Завод «Hankook Engineering» компании «LG»</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
						</div>

					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="portfolio__slide">
							<div class="portfolio__slide--col">

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									<span class="project__card--content">
										<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									
									<span class="project__card--content">
										<span class="project__card--title">Логистический комплекс ООО “Мобис Партс СНГ”</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

								<a href="#" class="project__card bg" target="_blank" style="background-image: url('img/project-thumbnail.jpg');">
									
									<span class="project__card--content">
										<span class="project__card--title">Торговый центр в Орехово-Зуево</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>

							</div>

							<div class="portfolio__slide--col "  >
								<a href="#" class="project__card bg" style="background-image: url('img/project-thumbnail-2.jpg');" target="_blank">
									
									<span class="project__card--content">
										<span class="project__card--title">Завод «Hankook Engineering» компании «LG»</span>
										<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
										<span class="project__card--link">Подробнее</span>
									</span>
								</a>
							</div>
						</div>

					</div>
					<!-- //Slide -->
				</div>
			</div>

			<div class="slider__pagination js-portfolio-desktop-slider-pagination"></div>

			<!-- Navigation -->
			<button class="slider__btn slider__btn--prev js-portfolio-desktop-slider-btn-prev" type="button">
				<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.796772 16.8023L17.3075 0.29156C17.6962 -0.0971866 18.3197 -0.0971866 18.7084 0.29156C19.0972 0.680306 19.0972 1.30377 18.7084 1.69251L2.90187 17.4991L18.7084 33.3057C19.0972 33.6944 19.0972 34.3179 18.7084 34.7066C18.5177 34.8973 18.261 35 18.0116 35C17.7622 35 17.5055 34.9046 17.3148 34.7066L0.804106 18.1959C0.415359 17.8145 0.415361 17.1837 0.796772 16.8023Z" fill="white"/>
				</svg>

			</button>
			<button class="slider__btn slider__btn--next js-portfolio-desktop-slider-btn-next" type="button">
				<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.2032 18.1977L1.69251 34.7084C1.30377 35.0972 0.680306 35.0972 0.29156 34.7084C-0.0971865 34.3197 -0.0971865 33.6962 0.29156 33.3075L16.0981 17.5009L0.291563 1.69435C-0.0971836 1.3056 -0.0971836 0.68214 0.291563 0.293396C0.482269 0.102688 0.738988 6.46041e-08 0.988372 8.6406e-08C1.23776 1.08208e-07 1.49448 0.0953561 1.68518 0.293396L18.1959 16.8041C18.5846 17.1855 18.5846 17.8163 18.2032 18.1977Z" fill="white"/>
				</svg>

			</button>
			<!-- //Navigation -->
		</div>
		<!-- //DEsktop slider -->


	</div>
	<!-- //container -->

	<!-- Mobile slider -->
	<div class="portfolio__slider portfolio__slider--mobile">
		<div class="swiper-container js-portfolio-mobile-slider">
			<div class="swiper-wrapper">
				<!-- Slide -->
				<div class="swiper-slide">
					<div class="portfolio__slide portfolio__slide--mobile">
						<a href="#" class="project__card">
							<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
							<span class="project__card--content">
								<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
								<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
								<span class="project__card--link">Подробнее</span>
							</span>
						</a>
					</div>
				</div>
				<!-- //Slide -->

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="portfolio__slide portfolio__slide--mobile">
						<a href="#" class="project__card">
							<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
							<span class="project__card--content">
								<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
								<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
								<span class="project__card--link">Подробнее</span>
							</span>
						</a>
					</div>
				</div>
				<!-- //Slide -->

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="portfolio__slide portfolio__slide--mobile">
						<a href="#" class="project__card">
							<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
							<span class="project__card--content">
								<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
								<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
								<span class="project__card--link">Подробнее</span>
							</span>
						</a>
					</div>
				</div>
				<!-- //Slide -->

				<!-- Slide -->
				<div class="swiper-slide">
					<div class="portfolio__slide portfolio__slide--mobile">
						<a href="#" class="project__card">
							<span class="project__card--thumbnail bg" style="background-image: url('img/project-thumbnail.jpg');"></span>
							<span class="project__card--content">
								<span class="project__card--title">Дизайнерский офис для ПАО “Промсвязьбанк”</span>
								<span class="project__card--preview">Монтаж системы апс на 8000м2 в сжатые сроки</span>
								<span class="project__card--link">Подробнее</span>
							</span>
						</a>
					</div>
				</div>
				<!-- //Slide -->
			</div>
		</div>

		<!-- Navigation -->
		<div class="text-center portfolio__slider--mobile-navigation">
			<button class="slider__btn--arrow js-portfolio-mobile-slider-btn-prev" type="button">
				<svg viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.340518 9.47406L7.78011 16.9532C8.23401 17.4095 8.97016 17.4095 9.42407 16.9532C9.87807 16.4968 9.87807 15.7569 9.42407 15.3005L3.9689 9.81633L23.8376 9.81633C24.4796 9.81633 25.0001 9.29307 25.0001 8.64772C25.0001 8.00246 24.4796 7.47911 23.8376 7.47911L3.9689 7.47911L9.42389 1.99496C9.87789 1.53855 9.87789 0.798674 9.42389 0.342263C9.19698 0.114243 8.89939 4.99784e-07 8.6019 4.73776e-07C8.30441 4.47769e-07 8.00692 0.114243 7.77992 0.342263L0.340518 7.82137C-0.113483 8.27778 -0.113483 9.01765 0.340518 9.47406Z" />
				</svg>

			</button>
			<button class="slider__btn--arrow js-portfolio-mobile-slider-btn-next" type="button">
				<svg viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.6595 8.67846L17.22 1.23887C16.766 0.78496 16.0299 0.78496 15.576 1.23887C15.122 1.69287 15.122 2.42883 15.576 2.88283L21.0312 8.338L1.16244 8.338C0.520492 8.338 0 8.8585 0 9.50044C0 10.1423 0.520492 10.6629 1.16244 10.6629L21.0312 10.6629L15.5762 16.118C15.1222 16.5721 15.1222 17.308 15.5762 17.762C15.8031 17.9888 16.1007 18.1025 16.3982 18.1025C16.6956 18.1025 16.9931 17.9888 17.2201 17.762L24.6595 10.3224C25.1135 9.86842 25.1135 9.13246 24.6595 8.67846Z"/>
				</svg>

			</button>

		</div>
		<!-- //Navigation -->

	</div>
	<!-- //Mobile slider -->


	<div class="text-center permalink__wrapper container">
		<a href="page-portfolio.html" class="btn btn-transparent"><span>Больше выполненных работ</span></a>
	</div>
</section>