<section class="sect__estimate alternate-color-bg">


	<div class="container">
		<div class="estimate">
			<div class="estimate__content">
				<h2 class="sect__title sect__title--gutter">Получить <span>смету</span> и <span>комерческое предложение</span></h2>
				<p class="light-text-color">На проектирование и монтаж пожарной сигнализации с гарантией прохождения проверки МЧС</p>

				<a href="#sectForm" class="btn btn-with-img js-smooth-scroll-link">
					<span class="btn__content">
						<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
						<span class="btn__text">Получить коммерческое предложение</span>
					</span>
				</a>
			</div>

			<div class="estimate__img">
				<img src="img/mockup.png" alt="">
			</div>
		</div>
	</div>
	<!-- //container -->
</section>