<section class="sect__documents color-bg">


	<div class="container">

		<div class="documents__block">
			<div class="row align-horisontal-end">

				<div class="documents">


					<img src="img/brandbook.png" alt="" class="documents__img lead__img">


					<h2 class="sect__title sect__title--gutter">Из файлов вы узнаете</h2>

					<div class="decor-list">
						<ul>
							<li>Какие бывают проверки и когда их ждать</li>
							<li>Какие бывают штрафы и за что из выписывают</li>
							<li>Какие у вас должны быть системы безопасности</li>
							<li>Какие у вас должны быть документы</li>
							<li>Какие еще средства защиты нужны на объекте</li>
							<li>Чего не должно быть на объекте во время проверки</li>
							<li>Какие ошибки чаще всего находят инспектора</li>
							<li>Как выбрать правильного исполнителя</li>
							<li>Какие нормативы стоит знать и проверять </li>
						</ul>
					</div>

					<a href="#sectForm" class="btn js-smooth-scroll-link">
						<span class="btn__content">
							<span class="btn__text">Получить материалы БЕСПЛАТНО</span>
						</span>
					</a>


				</div>

			</div>
		</div>
	</div>
	<!-- //container -->
</section>