<section class="sect__feedbacks gutter-top">
	<h2 class="text-center sect__title sect__title--gutter white-color container">Отзывы наших клиентов</h2>

	<div class="container">

		<div class="feedbacks__slider">
			<div class="swiper-container js-feedbacks-slider">
				<div class="swiper-wrapper">
					<!-- Slide -->
					<div class="swiper-slide">
						<div class="feedback__slide feedback">

							<div class="feedback__img">
								<a href="img/feedback.png" data-fancybox class="feedback__img--thumbnail fancy-link">
									<img src="img/feedback.png" alt="">
								</a>
							</div>

							<div class="feedback__content">
								<h3 class="feedback__title">ООО ”Строительные Инвестиции”</h3>
								<div class="feedback__text">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aperiam rem inventore Lorem ipsum dolor sit amet, consectetur adipisicing.<span>illo iste vero laboriosam, aliquam facilis illum sed, laborum quos quo quaerat sequi dolorum. Nam nemo, cum dicta!</span></p>
								</div>

								<button class="feedback__link js-toggle-feedback-text-btn" type="button" data-default-text="Читать дальше" data-toggled-text="Скрыть"></button>
							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="feedback__slide feedback">

							<div class="feedback__img">
								<a href="img/feedback.png" data-fancybox class="feedback__img--thumbnail fancy-link">
									<img src="img/feedback.png" alt="">
								</a>
							</div>

							<div class="feedback__content">
								<h3 class="feedback__title">ООО ”АМК”</h3>
								<div class="feedback__text">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aperdipisicing.<span>illo iste vero laboriosam, aliquam facilis illum sed, laborum quos quo quaerat sequi dolorum. Nam nemo, cum dicta!</span></p>
								</div>

								<button class="feedback__link js-toggle-feedback-text-btn" type="button" data-default-text="Читать дальше" data-toggled-text="Скрыть"></button>
							</div>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="feedback__slide feedback">

							<div class="feedback__img">
								<a href="img/feedback.png" data-fancybox class="feedback__img--thumbnail fancy-link">
									<img src="img/feedback.png" alt="">
								</a>
							</div>

							<div class="feedback__content">
								<h3 class="feedback__title">ООО ”Строительные Инвестиции”</h3>
								<div class="feedback__text">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis aperiam rem inventore Lorem ipsum dolor sit amet, consectetur adipisicing.<span>illo iste vero laboriosam, aliquam facilis illum sed, laborum quos quo quaerat sequi dolorum. Nam nemo, cum dicta!</span></p>
								</div>

								<button class="feedback__link js-toggle-feedback-text-btn" type="button" data-default-text="Читать дальше" data-toggled-text="Скрыть"></button>
							</div>
						</div>
					</div>
					<!-- //Slide -->
				</div>
			</div>

			<!-- Navigation -->
			<button class="slider__btn slider__btn--transparent slider__btn--prev js-feedbacks-slider-btn-prev" type="button">
				<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.796772 16.8023L17.3075 0.29156C17.6962 -0.0971866 18.3197 -0.0971866 18.7084 0.29156C19.0972 0.680306 19.0972 1.30377 18.7084 1.69251L2.90187 17.4991L18.7084 33.3057C19.0972 33.6944 19.0972 34.3179 18.7084 34.7066C18.5177 34.8973 18.261 35 18.0116 35C17.7622 35 17.5055 34.9046 17.3148 34.7066L0.804106 18.1959C0.415359 17.8145 0.415361 17.1837 0.796772 16.8023Z" fill="white"/>
				</svg>

			</button>
			<button class="slider__btn slider__btn--transparent slider__btn--next js-feedbacks-slider-btn-next" type="button">
				<svg width="19" height="35" viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.2032 18.1977L1.69251 34.7084C1.30377 35.0972 0.680306 35.0972 0.29156 34.7084C-0.0971865 34.3197 -0.0971865 33.6962 0.29156 33.3075L16.0981 17.5009L0.291563 1.69435C-0.0971836 1.3056 -0.0971836 0.68214 0.291563 0.293396C0.482269 0.102688 0.738988 6.46041e-08 0.988372 8.6406e-08C1.23776 1.08208e-07 1.49448 0.0953561 1.68518 0.293396L18.1959 16.8041C18.5846 17.1855 18.5846 17.8163 18.2032 18.1977Z" fill="white"/>
				</svg>

			</button>
			<!-- //Navigation -->
		</div>
	</div>
	<!-- //container -->

</section>