<section class="sect__help">

	<div class="container">

		<div class="help__block">
			<div class="help__block--content">
				<div class="help__block--content_text">
					<p>Не знаете какая нужна система?</p>
					<p>Нет проекта или планировок?</p>
					<p>Нужен осмотр объекта?</p>
				</div>
				<h2 class="sect__title sect__title--gutter"><span>Беслпатно отправим инженера</span> к вам на объект</h2>
				<p>Для осмотра и составления сметы</p>

				<div class="row align-vertical-center align-horisontal-start help__contacts--row">

					<button type="button" class="btn js-open-engineer-popup-btn">
						<span>Оформить бесплатный выезд</span>
					</button>

					<div class="help__contacts row align-vertical-center">
						<span>или</span>

						<div class="help__contacts--links">
							<a href="#" class="btn-ic btn-ic-whatsapp"></a>
							<a href="#" class="btn-ic btn-ic-telegram"></a>
						</div>

					</div>

				</div>
			</div>

			<div class="help__img">
				<img src="img/engineer.png" alt="">
			</div>
		</div>
	</div>
	<!-- //container -->
</section>