<section class="sect__services-additional alternate-color-bg">

	<div class="container">
		<div class="row align-horisontal-between  services-additional__row">
			<div class="title__col">
				<h2 class="sect__title--lg white-color">Установка всех видов систем пожарной сигнализации </h2>
			</div>

			<div class="services-additional__col img-decor-wrapper">
				<div class="img-decor">
					<img src="img/alarm-sm.png" alt="">
				</div>

				<div class="alarm-content">
					<h3>Выполняем монтаж таких видов пожарной сигнализации как:</h3>
					<ul>
						<li>Адресная пожарная сигнализация</li>
						<li>Аналоговая пожарная сигнализация</li>
						<li>Пороговая пожарная сигнализация</li>
						<li>Комбинированная пожарная сигнализация</li>
						<li>Беспроводная пожарная сигнализация</li>
						<li>Автоматическая пожарная сигнализация</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>