<section class="sect__licenses gutters">
	<h2 class="text-center sect__title sect__title--gutter-sm container">Имеем все необходимые лицензии и допуски</h2>
	<p class="sect__subtitle container text-center">Для выполнения проектировани и монтажа систем пожарной безопасности</p>

	<div class="container">
		<div class="licenses__slider">
			<div class="swiper-container js-licenses-slider">
				<div class="swiper-wrapper">
					<!-- Slide -->
					<div class="swiper-slide">
						<div class="license__slide">
							<a href="img/license-1.jpg" class="license fancy-link" data-fancybox>
								<img src="img/license-1.jpg" alt="">
							</a>
							<p>Лицензия МЧС</p>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="license__slide">
							<a href="img/license-2.jpg" class="license fancy-link" data-fancybox>
								<img src="img/license-2.jpg" alt="">
							</a>
							<p>Свидетельство о регистрации</p>
						</div>
					</div>
					<!-- //Slide -->

					<!-- Slide -->
					<div class="swiper-slide">
						<div class="license__slide">
							<a href="img/license-3.jpg" class="license fancy-link" data-fancybox>
								<img src="img/license-3.jpg" alt="">
							</a>
							<p>Допуск СРО</p>
						</div>
					</div>
					<!-- //Slide -->
				</div>
			</div>

			<!-- Navigation -->
			<div class="text-center licenses__slider--navigation">
				<button class="slider__btn--arrow js-licenses-slider-btn-prev" type="button">
					<svg viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.340518 9.47406L7.78011 16.9532C8.23401 17.4095 8.97016 17.4095 9.42407 16.9532C9.87807 16.4968 9.87807 15.7569 9.42407 15.3005L3.9689 9.81633L23.8376 9.81633C24.4796 9.81633 25.0001 9.29307 25.0001 8.64772C25.0001 8.00246 24.4796 7.47911 23.8376 7.47911L3.9689 7.47911L9.42389 1.99496C9.87789 1.53855 9.87789 0.798674 9.42389 0.342263C9.19698 0.114243 8.89939 4.99784e-07 8.6019 4.73776e-07C8.30441 4.47769e-07 8.00692 0.114243 7.77992 0.342263L0.340518 7.82137C-0.113483 8.27778 -0.113483 9.01765 0.340518 9.47406Z" />
					</svg>

				</button>
				<button class="slider__btn--arrow js-licenses-slider-btn-next" type="button">
					<svg viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg">
						<path d="M24.6595 8.67846L17.22 1.23887C16.766 0.78496 16.0299 0.78496 15.576 1.23887C15.122 1.69287 15.122 2.42883 15.576 2.88283L21.0312 8.338L1.16244 8.338C0.520492 8.338 0 8.8585 0 9.50044C0 10.1423 0.520492 10.6629 1.16244 10.6629L21.0312 10.6629L15.5762 16.118C15.1222 16.5721 15.1222 17.308 15.5762 17.762C15.8031 17.9888 16.1007 18.1025 16.3982 18.1025C16.6956 18.1025 16.9931 17.9888 17.2201 17.762L24.6595 10.3224C25.1135 9.86842 25.1135 9.13246 24.6595 8.67846Z"/>
					</svg>

				</button>

			</div>
			<!-- //Navigation -->
		</div>

		<!-- Clients -->
		<div class="clients">
			<div class="row align-vertical-center align-horisontal-start clients__row">
				<div class="clients__title--col">
					<h3 class="sect__title"><span>Успешно работаем</span> с клиентами разного уровня</h3>
				</div>

				<div class="clients__logos">
					<div class="client__logo">
						<img src="img/clients/1.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/2.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/3.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/4.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/5.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/6.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/7.png" alt="">
					</div>

					<div class="client__logo">
						<img src="img/clients/8.png" alt="">
					</div>

				</div>
			</div>
		</div>
		<!-- //Clients -->
	</div>
	<!-- //container -->
</section>