<section class="sect__guarantee">

	<div class="container">
		<div class="guarantee__block">

			<div class="guarantee__content">
				<img src="img/russia.png" alt="">
				<h2 class="sect__title sect__title--gutter">Гарантируем <span>прохождение</span> проверки МЧС</h2>
				<p class="light-text-color">Поможем подобрать сигнализацию для вашего объекта и ответим на ваши вопросы</p>
			</div>

			<div class="guarantee__information bg" style="background-image: url('img/backgrounds/emergency-bg.jpg');">
				<div class="guarantee__information--content white-color">
					<h3 class="guarantee__information--title">Вы получаете дополнительные гарантии:</h3>

					<div class="guarantee__information--blocks">
						<!-- Item -->
						<div class="guarantee__information--item">
							<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/1.svg');"></i>
							<div class="guarantee__information--item-content">
								<h4>Исправление ошибок</h4>
								<p>Если по выполненной нам работе будут выписаны замечания, то мы устраним их за свой счет в течение 7 дней</p>
							</div>
						</div>
						<!--// Item -->

						<!-- Item -->
						<div class="guarantee__information--item">
							<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/2.svg');"></i>
							<div class="guarantee__information--item-content">
								<h4>Итоговая стоимость</h4>
								<p>Мы не будем навязывать вам доп.соглашения и доп. сметы после начала работ. Если не изменятся объемы, то цена останется прежней</p>
							</div>
						</div>
						<!--// Item -->

						<!-- Item -->
						<div class="guarantee__information--item">
							<i class="guarantee__information--item-ic" style="background-image: url('img/icons/svg/guaranties/3.svg');"></i>
							<div class="guarantee__information--item-content">
								<h4>Соблюдение сроков</h4>
								<p>Мы даем гарантию на соблюдение сроков в договоре с наложением штрафных платежей в случае нарушения</p>
							</div>
						</div>
						<!--// Item -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>