
<section class="sect__services-cards color-bg gutters">
	<div class="container">
		<h2 class="sect__title text-center">Наши Услуги</h2>

		<div class="services-cards">
			<div class="row row-wrap align-horisontal-start row-gutters services-cards__row">
				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/1.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/1-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-aps.html">Пожарная сигнализация</a></h3>
						<a href="page-service-aps.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/2.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/2-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-sprinkler.html">Спринклерное тушение</a></h3>
						<a href="page-service-sprinkler.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/3.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/3-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-gas.html">Газовое тушение</a></h3>
						<a href="page-service-gas.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/4.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/4-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-powder.html">Порошковое тушение</a></h3>
						<a href="page-service-powder.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/5.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/5-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-foam.html">Пенное тушение</a></h3>
						<a href="page-service-foam.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/6.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/6-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-water.html">Тушение тонкораспыленной водой</a></h3>
						<a href="page-service-water.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<div class="service-card">
						<div class="service-card__icons">
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/7.svg');"></span>
							<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/7-h.svg');"></span>
						</div>
						<h3 class="service-card__title"><a href="page-service-aerosol.html">Аэрозольное тушение</a></h3>
						<a href="page-service-aerosol.html" class="permalink">Подробнее</a>
					</div>
				</div>
				<!-- //Service card -->

				<!-- Service card -->
				<div class="service-card__wrapper">
					<button type="button" class="service-card service-card__btn js-open-service-popup-btn">
						<span class="service-card__icon" style="background-image: url('img/icons/svg/services-cards/8.svg');"></span>
						<span class="service-card__title">Не знаете  какой вид услуг вам нужен?</span>
						<span class="service-card__text">Бесплатная консультацию</span>
					</button>
				</div>
				<!-- //Service card -->
			</div>
		</div>
	</div>
	<!-- //container -->
</section>
