	<section class="sect__need-project color-bg">
		<div class="container">
			<div class="row align-horisontal-end">
				<div class="need-project__content">
					<div class="need-project__content-block">
						<p class="need-project__content--text_lg">Разработаем проект с соблюдением всех требований и подберем оптимальное оборудование для экономии ваших средств</p>
						<p class="need-project__content--text_sm">При заказе монтажных услуг проект сделаем <strong>бесплатно</strong></p>
						<button type="button" class="btn btn__search js-open-consultation-popup-btn">
							<i class="btn__search--ic"></i>
							<span>Нужен проект</span>
						</button>
					</div>

					<img src="img/project.png" alt="">
				</div>
			</div>
		</div>
		<!-- //container -->
	</section>