<section class="sect__our-experience">
	<h2 class="container text-center sect__title">У нас есть опыт работы в любых условиях</h2>

	<div class="container">
		<div class="row align-horisontal-center our-experience__row row-gutters">
			<div class="our-experience__col">
				<div class="our-experience">
					<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/1.svg');"></span>
					<p>Работа в сжатые сроки и ночное время</p>
				</div>
			</div>

			<div class="our-experience__col ">
				<div class="our-experience">
					<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/2.svg');"></span>
					<p>При завершенном ремонте</p>
				</div>
			</div>

			<div class="our-experience__col">
				<div class="our-experience">
					<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/3.svg');"></span>
					<p>Без приостановки работы компании</p>
				</div>
			</div>

			<div class="our-experience__col ">
				<div class="our-experience">
					<span class="our-experience__ic" style="background-image: url('img/icons/svg/exp/4.svg');"></span>
					<p>С повышенными требованиями к качеству монтажа</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>