<section class="sect__faq gutters alternate-color-bg">
	<h2 class="container text-center sect__title">Часто задаваемые вопросы</h2>

	<div class="container">

		<div class="faq img-decor-wrapper">

			<div class="img-decor img-decor-bottom">
				<img src="img/smoke.png" alt="">
			</div>
			<div class="img-decor img-decor-top">
				<img src="img/firestoper.png" alt="">
			</div>

			<div class="faq__items">

				<!-- Faq item -->
				<div class="faq__item">
					<div class="faq__item--header js-toggle-faq">
						<div class="row align-vertical-center align-horisontal-between row-nowrap" >
							<h3 class="faq__item--title">Как выбрать пожарную сигнализацию?</h3>
							<button class="faq__btn js-toggle-faq-btn" type="button"></button>
						</div>

					</div>


					<div class="faq__item--body">
						<p>В ПС входят прибор контроля за состоянием извещателей, пульт управления(АРМ), прибор индикации, различные типа пожарных датчиков</p>
					</div>
				</div>
				<!-- //Faq item -->

				<!-- Faq item -->
				<div class="faq__item">
					<div class="faq__item--header js-toggle-faq">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h3 class="faq__item--title">Как проверить работоспособность пожарной сигнализации?</h3>
							<button class="faq__btn js-toggle-faq-btn" type="button"></button>
						</div>


					</div>

					<div class="faq__item--body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In exercitationem dolore qui dolorem ducimus sit quasi sunt libero, voluptatem dolor dignissimos molestias aspernatur repellendus quaerat aut nihil nulla perspiciatis veritatis.</p>
					</div>
				</div>
				<!-- //Faq item -->

				<!-- Faq item -->
				<div class="faq__item">
					<div class="faq__item--header js-toggle-faq">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h3 class="faq__item--title">Есть ли возможность оповещения сотрудников о пожарной тревоге через SMS/Мессенджер?</h3>
							<button class="faq__btn js-toggle-faq-btn" type="button"></button>
						</div>


					</div>

					<div class="faq__item--body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam reiciendis facere repellendus repellat minus cum dicta! Deleniti iure odit alias deserunt, harum molestias nisi at doloremque voluptatibus obcaecati delectus laborum accusamus, laudantium neque ab? Fugiat repellat eius tenetur, facere totam quod consequatur ipsum minima aliquam vero cumque consequuntur? Quasi, quos!</p>
					</div>
				</div>
				<!-- //Faq item -->

				<!-- Faq item -->
				<div class="faq__item">
					<div class="faq__item--header js-toggle-faq">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<h3 class="faq__item--title">Что входит в пожарную сигнализацию?</h3>
							<button class="faq__btn js-toggle-faq-btn" type="button"></button>
						</div>


					</div>

					<div class="faq__item--body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam reiciendis facere repellendus repellat minus cum dicta! Deleniti iure odit alias deserunt, harum molestias nisi at doloremque voluptatibus obcaecati delectus laborum accusamus, laudantium neque ab? Fugiat repellat eius tenetur, facere totam quod consequatur ipsum minima aliquam vero cumque consequuntur? Quasi, quos!</p>
					</div>
				</div>
				<!-- //Faq item -->



			</div>

		</div>
	</div>
	<!-- //container -->
</section>