<section class="sect__documents color-bg">


	<div class="container">

		<div class="documents__block">
			<div class="row align-horisontal-end">

				<div class="documents">


					<img src="img/docs.png" alt="" class="documents__img">


					<h2 class="sect__title sect__title--gutter">Предоставим полный пакет документов для прохождения проверок</h2>

					<div class="decor-list">
						<ul>
							<li>Исполнительную и рабочую документацию</li>
							<li>Акты выполненных работ и ввода в эксплуатацию</li>
							<li>Сертификаты на оборудование</li>
							<li>Планы эвакуации</li>
							<li>Копию лицензии от МЧС</li>
							<li>Корочки ПТМ для сотрудников</li>
							<li>Договор на техническое обслуживание</li>
							<li>Журнал и акты на техническое обслуживание</li>
						</ul>
					</div>

					<a href="#sectForm" class="btn btn-sm btn-with-img js-smooth-scroll-link">
						<span class="btn__content">
							<img src="img/button-img.png" alt="Получить коммерческое предложение" class="btn__img">
							<span class="btn__text">Получить коммерческое<br>предложение</span>
						</span>
					</a>


				</div>

			</div>
		</div>
	</div>
	<!-- //container -->
</section>