<section class="sect__services" style="background-image: url('img/backgrounds/services-bg.png');">

	<div class="container">
		<div class="row align-vertical-center align-horisontal-between">

			<div class="title__col">
				<h2 class="sect__title white-color">Обеспечим пожарную безопасность объекта и поможем пройти <span>проверку МЧС</span></h2>
			</div>

			<div class="services__col">
				<div class="row services__row align-horisontal-start">
					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/1.svg');"></i>
							</div>
							<p>Проектирование систем безопасности</p>
						</div>
					</div>
					<!--// Item -->

					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/2.svg');"></i>
							</div>
							<p>Установка систем пожаротушения</p>
						</div>
					</div>
					<!--// Item -->

					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/3.svg');"></i>
							</div>
							<p>Монтаж пожарной сигнализации</p>
						</div>
					</div>
					<!--// Item -->

					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/4.svg');"></i>
							</div>
							<p>Расчет рисков и СТУ</p>
						</div>
					</div>
					<!--// Item -->

					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/5.svg');"></i>
							</div>
							<p>Подготовка к проверкам</p>
						</div>
					</div>
					<!--// Item -->

					<!-- Item -->
					<div class="service__item--wrapper">
						<div class="service__item">
							<div class="service__item--ic-block">
								<i class="service__item--ic" style="background-image: url('img/icons/svg/services/6.svg');"></i>
							</div>
							<p>Обслуживание систем безопасности</p>
						</div>
					</div>
					<!--// Item -->
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>