<section class="sect__benefits" style="background-image: url('img/backgrounds/services-add-bg.png');">

	<div class="container">
		<div class="row align-vertical-center align-horisontal-between">
			
			<div class="title__col">
				<h2 class="sect__uptitle white-color">При работе с нами вы получите</h2>
				<h3 class="sect__title white-color">Пожарную безопасность на объекте и спокойствие при прохождении проверок</h3>
			</div>

			<div class="benefits__col img-decor-wrapper">

				<div class="img-decor">
					<img src="img/smoke-alarms.png" alt="">
				</div>
				<div class="row benefits__row align-horisontal-start">
					<!-- Item -->
					<div class="benefit__item">
						<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/1.svg');"></i>
						<p>Смонтированную пожарную сигнализацию</p>
					</div>
					<!-- //Item -->

					<!-- Item -->
					<div class="benefit__item">
						<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/2.svg');"></i>
						<p>Полный комплект необходимых документов</p>
					</div>
					<!-- //Item -->

					<!-- Item -->
					<div class="benefit__item">
						<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/3.svg');"></i>
						<p>Инструктаж по пользованию системы</p>
					</div>
					<!-- //Item -->

					<!-- Item -->
					<div class="benefit__item">
						<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/4.svg');"></i>
						<p>Грамотное техническое обслуживание</p>
					</div>
					<!-- //Item -->

					<!-- Item -->
					<div class="benefit__item">
						<i class="benefit__item--ic" style="background-image: url('img/icons/svg/benefits/5.svg');"></i>
						<p>Сопровождение и помощь при проверках МЧС</p>
					</div>
					<!-- //Item -->
				</div>
				

			</div>
		</div>
	</div>
	
	<!-- //container -->
</section>