<section class="sect__problems">
	<div class="container">
		<div class="problems__block">
			<h2 class="sect__title">Хотите <span>избежать проблем</span> и <span>штрафов</span> при прохождении проверки МЧС?</h2>
			<p>Получите Бесплатную методичку, которая поможет вам подготовиться к прохождению проверки МЧС и видео, которое поможет вам выбрать правильного исполнителя</p>
			<button type="button" class="btn js-open-mchs-consultation-popup-btn">Получить материалы БЕСПЛАТНО</button>

			<img src="img/problems.png" alt="">
		</div>
	</div>
	<!-- //container -->
</section>