<section class="sect__advantages">

	<div class="container">
		<div class="advantages">
			<div class="row align-horisontal-between advantages__row">

				<div class="advantages__content white-color ">
					<h2 class="sect__title sect__title--gutter">Мы уже работали на объекте <span>схожем с вашим</span></h2>
					<div class="decor-list">
						<ul>
							<li>Склады и Производства </li>
							<li>Бизнес-центры и офисы</li>
							<li>Торговые-центры и магазины</li>
							<li>Многоквартирные дома</li>
							<li>Рестораны и кафе</li>
							<li>Гостиницы и хостелы</li>
							<li>Паркинги и тех. сооружения</li>
							<li>Медицинские учреждения</li>
							<li>Серверные и Центры обработки данных (ЦОД)</li>
							<li>Образовательные учреждения</li>
						</ul>
					</div>



				</div>

				<div class="advantages__information img-decor-wrapper">
					<div class="img-decor">
						<img src="img/equipment-full.png" alt="">
					</div>

					<div class="advantages__information--item">
						<span class="advantages__information--item-value">5 лет</span>
						<p>Более 5 лет успешной работы на рынке пожарной безопасности</p>
					</div>
					<div class="advantages__information--item">
						<span class="advantages__information--item-value">330</span>
						<p>Более 330 выполненных объектов в Москве и МО</p>
					</div>
					<div class="advantages__information--item">
						<span class="advantages__information--item-value">70+</span>
						<p>Успешно пройденных проверок от МЧС</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</section>