//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================


webfont('Roboto-Light', 'Roboto', 'Roboto-Light', true, normal, normal)
webfont('Roboto-Italic', 'Roboto', 'Roboto-Italic', true, normal, normal)
webfont('Roboto-Regular', 'Roboto', 'Roboto-Regular', true, normal, normal)
webfont('Roboto-Medium', 'Roboto', 'Roboto-Medium', true, normal, normal)
webfont('Roboto-Bold', 'Roboto', 'Roboto-Bold', true, normal, normal)
webfont('Roboto-Black', 'Roboto', 'Roboto-Black', true, normal, normal)
