//  Fonts 
$Italic = 'Roboto-Italic', Arial, sans-serif
$Light = 'Roboto-Light', Arial, sans-serif
$Reg = 'Roboto-Regular', Arial, sans-serif
$Med = 'Roboto-Medium', Arial, sans-serif
$Bold = 'Roboto-Bold', Arial, sans-serif
$Black = 'Roboto-Black', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 150px 0
$gutter-top = 150px
$gutter-top-sm = 80px
$gutter-bottom = 150px
$gutter-bottom-sm = 80px

$gutters-sm = 80px 0
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #C63E34

$secondary-color = #21A038

$text-color = #222
$alternate-text-color = #DEDEDE
$light-text-color = #696969
$lighter-text-color = #969696


$secondary-light-text-color = #6A6A6C

$border-block-color = #C4C4C4


$white-color = #fff
$dark-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$dark-bg = #3A3939
$color-bg = #FAFAFA
$alternate-color-bg = #F5F5F5

$block-bg = #E7E8E9



$bg-overlay-color = #000
$bg-overlay-opacity = .85
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========