//  Fonts 
$Italic = 'Roboto-Italic', Arial, sans-serif
$Light = 'Roboto-Light', Arial, sans-serif
$Reg = 'Roboto-Regular', Arial, sans-serif
$Med = 'Roboto-Medium', Arial, sans-serif
$Bold = 'Roboto-Bold', Arial, sans-serif
$Black = 'Roboto-Black', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 150px 0
$gutter-top = 150px
$gutter-bottom = 150px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #C63E34
$secondary-color = green

$text-color = #222
$alternate-text-color = #DEDEDE
$light-text-color = #696969
$lighter-text-color = #969696

$white-color = #fff
$dark-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #a2a2a2

$dark-bg = #3A3939
$color-bg = #FAFAFA
$alternate-color-bg = #F5F5F5

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========