.sect__promo-about
	min-height auto
	padding 25px 0 140px
	

	.title
		font-size 45px
		line-height 60px
		margin-bottom 20px
		
.about-us
	&__text
		font-size 20px
		line-height 30px
		margin-bottom 25px
		
	.promo__video--wrapper
		height 490px
		margin-bottom 0
		

.presentation
	display flex
	justify-content flex-end
	padding 150px 0
	&__block
		width 430px
		position relative
		img
			display block
			position absolute
			vertical-center()
			right 100%
			width 780px
			max-width none
		
		.sect__title
			margin-bottom 35px
			
	&__btn
		display block
		padding 35px 20px 35px 125px
		position relative
		background $white-color url('../img/icons/svg/pdf.svg') left 40px center no-repeat / 57px 70px
		border 1px solid rgba(198, 62, 52, 0.5)
		border-radius 10px
		box-shadow 0px 21px 26px rgba(0, 0, 0, 0.07)
		span
			display block
		&--title
			color #71A9FC
			font 16px $Bold
			margin-bottom 5px
			text-decoration underline
		&--file-size
			color $light-text-color
		&:hover
			
			.presentation__btn--title
				text-decoration none
				

.sect__about-us-details
	padding 80px 0 35px
	background url('../img/backgrounds/dark-decor.svg') 50% 50% no-repeat / cover
	
.about-us-detail
	text-align left
	color $white-color
	&__count
		color $accent-color
		font 65px $Light
		line-height 1
		display block
	
	&__wrapper
		padding 0 15px 30px