.sect__promo-lead
	padding-top 25px
	padding-bottom 225px
	
	.breadcrumbs
		margin-bottom 210px
	
	.title
		font-size 45px
		line-height 60px
		span, b, strong
			color $accent-color
			margin-bottom 30px
	
.page-lead
	.clients
		margin-top 0
		
	.sect__licenses
		padding 115px 0
		
		.sect__title
			margin-bottom 40px
			
.licenses__slider--navigation
	display none

.promo-lead
	&__content
		max-width 650px
		position relative
		p
			color $light-text-color
			font 16px
			line-height 24px
			margin-bottom 40px
			span
				color $accent-color
				text-transform uppercase
			b, strong
				font-family $Bold
	&__img
		position absolute
		left 100%
		vertical-center()
		width 660px
		img
			display block
			width 660px