.section__thanks
	min-height 100vh
	display flex
	flex-direction column
	align-items center
	justify-content center
	padding 50px 0

.thanks
	&-title
		font 45px $Light
		line-height 133%
		margin-bottom 15px
	&-text
		font-size 20px
		margin-bottom 25px
		
.title-404
	font 90px $Bold
	
