.section__thanks
	min-height 100vh
	display flex
	flex-direction column
	align-items center
	justify-content center
	padding 50px 0

.thanks
	&-title
		font 45px $Light
		line-height 133%
		margin-bottom 15px
	&-text
		font-size 20px
		margin-bottom 25px
		
.title-404
	font 90px $Bold
	
.page-contacts
	padding 25px 0 180px
	.breadcrumbs
		margin-bottom 180px


.company-requisits
	margin-top 35px
	
.block-with-ic
	position relative
	padding-left 30px
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 20px
		height 20px
		background-repeat no-repeat
		background-size contain
		
	&__address
		&:before
			background-image url('../img/icons/svg/address-light.svg')
		&--accent
			&:before
				background-image url('../img/icons/svg/address-accent.svg')
	&__worktime
		&:before
			background-image url('../img/icons/svg/worktime-light.svg')
		&--accent
			&:before
				background-image url('../img/icons/svg/worktime-accent.svg')
	
