// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen(1400px)
	// Services
	.services-additional__col
		.img-decor
			right -160px
	
	// Help
	.help__img
		margin-left 100px
	

	// Faq
	.faq
		.img-decor
			&-top
				right -150px
			&-bottom
				right auto
				left -150px

+max-screen(1200px)
	// Services
	.services-additional__col
		padding-right 0
		.img-decor
			display none
			
	// Guarantee
	.sect__guarantee
		.container
			padding-left 0
			padding-right 0
	.guarantee
		&__block
			width 100%
			padding-top 0
			padding-right 0
			padding-bottom 0
		&__content
			padding-right 15px
			padding-left 15px
		&__information
			position relative
			left auto
			top auto
			width 100%
			padding 35px 15px
			margin-top 40px
			

	// Estimate
	// .estimate__img
	// 	width 770px
	// 	height 805px
		
	// ADvatages
	.advantages
		&__content
			padding-right 70px
		&__information
			padding-left 70px
			.img-decor
				left auto
				top auto
				bottom 0
				right -150px
				

	.clients
		&__row
			flex-wrap wrap
		&__title--col
			width 100%
			margin-bottom 10px
		&__logos
			width 100%
			flex none
			
	// Feedbacks
	.feedback__content
		padding-left 50px
	

		// Faq
	.faq
		padding-left 0
		padding-right 0
		.img-decor
			&-top
				right -50px
			&-bottoms
				left 0
	
	// Form
	.form__img
		display none
		


	.sect__contacts
		padding 120px 0

+max-screen(1100px)
	.gutters
		padding 80px 0
	.gutter
		&-top
			padding-top 80px
		&-bottom
			padding-bottom 80px
	// Header
	.header__nav
		margin-left 15px
	.nav
		margin-right 15px
		
		li
			margin-right 20px
			
	.logo
		font-size 12px
		max-width 260px
		span
			margin-left 10px
			
	// Promo
	.sect__promo
		min-height auto
		padding-top 80px
		
	.promo__content
		padding-right 60px
		
	// Services
	.sect__services
		&:before,
		&:after
			left -60%
		&-additional
			&:before
				left -55%
			&:after
				left -60%
				
	.sect__benefits
		&:before,
		&:after
			left -60%
				
	// Help
	.sect__help
		padding 80px 0 110px
		
	// Portfolio
	.sect__portfolio
		padding 80px 0
	.portfolio__slide
		&--col
			.project__card
				&:first-child
					padding-bottom 40px
					.project__card--title
						font-size 28px
		.project__card
			padding 15px
			&--title
				font-size 20px
			&--link
				font-size 18px
				


	.footer
		&__top
			padding 35px 0
		&__logo
			max-width 100%
			margin-bottom 35px
		&__sharing
			width 100%
			
		&__menus
			margin-left 0
			margin-right 0
			margin-bottom 35px
			
			display flex
			justify-content flex-start
			
		&__menu
			margin-bottom 0
			margin-right 60px
			&:last-child
				margin-right 0
		

				
	.footer__bottom
		font-size 10px
		.row
			flex-wrap wrap
			
	.copyright
		max-width 100%
		margin-top 15px
		

				
+max-screen(1000px)
	// Header
	.header
		z-index 5
		&-mobile-info
			display block
		&-mobile-link
			display inline-block
		&__top
			display none
			
		&__row
			padding-right 80px
			
		&__nav
			position absolute
			top 0
			left 0
			width 100%
			z-index 5
			background-color $white-color
			margin-left 0
			padding-left 15px
			padding-right 15px
			// min-height 100vh
			padding-bottom 80px
			display none
			flex none
			.row
				flex-wrap wrap
				flex-direction column
				align-items flex-start
			
			.header__contacts
				background-color transparent
				order 1
				padding-left 0
				padding-right 0
				
			.nav
				order 2
				width 100%
				margin-right 0
				background-color #fff
				>
					ul
						margin-left -15px
						margin-right -15px
				li
					display block
					margin-right 0
					text-align left
					padding 15px
					border-bottom 1px solid #E9E9E9
					&:first-child
						border-top 1px solid #E9E9E9
				

			.menu-item-has-children
				background-color $alternate-color-bg 
				> a
					padding-right 0
					&:after
						display none
				&:hover
					.sublist
						margin-top 10px
				
			.sublist
				position relative
				top auto
				right auto
				width 100%
				margin-top 10px
				opacity 1
				visibility visible
				box-shadow none
				border none
				background-color  $alternate-color-bg 
				a
					color $accent-color
				li
					border none !important
					padding-left 15px
					padding-top 0
					padding-bottom 0
					margin-bottom 12px
					&:last-child
						margin-bottom 0
				&:before
					display none
	.phone-link
		font-size 14px
		
		&:before
			width 15px
			height 15px
			background-size 15px 15px
			
	.logo
		display inline-block
		max-width none
		span
			display none
			
	.btn__hamburger
		display inline-block
		
	// Services
	.sect__services
		padding 80px 0 55px
		&:before,
		&:after
			left 0
		&-additional
			padding 0
			&:before,
			&:after
				display none
			
			
	.title__col
		max-width 100%
		
		margin-bottom 30px
	.services__col
		max-width 100%
		padding 0
		
	.services
		&__row,
		&-additonal__row
			flex-wrap wrap
		
	.service
		&__item
			color $white-color
			
	
	.sect__services-additional
		.container
			padding-left 0
			padding-right 0
			
	.services-additional
		&__col
			padding 40px 15px
			max-width 100%
			width 100%
			
	.services-additional__row
		.title__col
			max-width 100%
			margin-bottom 0
			padding 30px 15px
			background $accent-color url('../img/backgrounds/pattern-bg.png') 50% 50% no-repeat / cover
	
		
	// Help
	.help
		&__block
			max-width 100%
			&--content
				max-width 540px
		&__img
			left auto
			right 0
			width 370px
			height 250px
			

	// Documents
	.sect__documents
		padding 45px 0
		&:before
			display none
			
	.documents
		width 100%
		padding-right 0
		
		&__img
			position relative
			transform none
			right auto
			margin-right 0
			margin-bottom 15px
			margin-left 0
			

	// Benefits
	.sect__benefits
		padding 80px 0
		&:before,
		&:after
			width 100%
			left 0
			
	.benefits__col
		padding 0
		
		.img-decor
			display none
			
	.benefit__item
		color $white-color
		max-width 100%
	

	// Estimate
	.sect__estimate
		padding-top 80px
		padding-bottom 400px
	.estimate
		&__content
			max-width 100%
		&__img
			right auto
			horisontal-center()
			// top auto
			// bottom -850px
			top 100%
			


	// Feedbacks
	.feedback
		&__slide
			flex-direction column
			align-items center
			padding-left 0
			padding-right 0
			padding-bottom 80px
		&__content
			padding-left 0
			text-align center
			
		&__img
			margin-bottom 60px
			
	.feedbacks__slider
		.slider__btn
			transform none
			margin-top 0
			top 175px
			

	// FAq
	.faq
		.img-decor
			display none
			
	// Form
	.sect__form
		&:after
			display none
			
		.contacts__block
			max-width 100%
			margin-bottom 60px
	.sect__form
		&--row
			flex-wrap wrap
			justify-content center
	
	.form__wrapper
		width 75%
		
	.sect__form
		padding 80px 0
		

	// Contacts
	.sect__contacts
		padding-top 80px
		padding-bottom 0
		
	.map__wrapper
		width 100%
		height 400px
		position relative
		left auto
		top auto
		
	.contacts-half
		max-width 100%
		width 100%
		margin-bottom 80px
		
+max-screen(900px)
	// Promo
		
	.promo
		&__row
			flex-wrap wrap
		&__content
			width 100%
			padding-right 0
			margin-bottom 50px
			
		&__video
			width 100%
			

	// ADvatages
	.sect__advantages
		padding-top 0
		&:before
			display none
		.container
			padding 0
	.advantages
		&__row
			flex-wrap wrap
		&__content
			padding 80px 15px
			width 100%
			background #222 url('../img/backgrounds/pattern-bg.png') 50% 50% no-repeat / cover
		&__information
			padding 80px 15px 0 15px
			width 100%
			.img-decor
				left auto
				top auto
				bottom 0
				right 0
			
+max-screen(767px)
	// Portfolio
	.portfolio__slider
		&--desktop
			display none
		&--mobile
			display block
			
	.client__logo
		flex 1 0 125px
		max-width 125px
		

	// Popup
	
	// .popup
	// 	.btn__close
	.popup__overflow
		padding 60px 10px		
	.btn__close
		width 35px
		height 35px
		svg
			width 20px
			height 20px
			
		
+max-screen(620px)
	body
		font-size 14px
	.gutters
		padding 35px 0
		
	.gutter
		&-top
			padding-top 35px
		&-bottom
			padding-bottom 35px
		
	.sect__subtitle
		margin-bottom 35px
	// Promo
	.sect__promo
		padding 35px 0
		
	.promo__img
		display none
		
	.title
		font-size 24px
	
	.subtitle
		margin-bottom 10px
		
	.commercial-proposal
		&__text
			margin-bottom 30px
			
	.promo
		&__content
			margin-bottom 25px
		&__video
			&--wrapper
				margin-bottom 25px
			&--notice
				font-size 12px
				line-height 18px
				max-width 240px
				text-align left
				&:before
					vertical-center()
					

	// Services
	.sect__services
		padding 35px 0 15px
	.sect__title,
	.sect__title--lg
		font-size 24px
		line-height 125%

	.service
		&__item
			font-size 14px
			line-height 18px
			&--wrapper
				padding 0 6px 20px 6px
			&--ic
				width 55px
				height 55px
				background-size 55px 55px
				&-block
					width 70px
					height 70px
					margin-bottom 20px
					
	.services__row
		margin-left -6px
		margin-right -6px
		
	.services-additional
		&__col
			padding 35px 15px
	

	.alarm-content
		font-size 16px
		line-height 150%
		
		ul
			li
				font-size 14px
				

	// Help
	
	.sect__help
		padding 35px 0
		
	.help
		&__block
			&--content
				text-align center
				max-width 100%
				p
					font-size 14px
					line-height 129%
					margin-bottom 25px
		&__contacts
			margin-left 0
			margin-top 15px
			span
				display none
			&--row
				flex-direction column
				align-items center
		
		&__img
			width 220px
			height 150px
			top auto
			transform none
			bottom -10px
			right -50px
			
	.sect__title--gutter
		margin-bottom 15px
		

	// Guarantee
	.guarantee
		&__block
			img
				max-width 200px
		&__information
			&--title
				font-size 24px
				line-height 30px
				margin-bottom 20px
				
			&--item
				h5
					font-size 16px
				&-ic
					width 45px
					height 45px
					background-size 45px 45px
					margin-right 30px
					

	// Documents
	.documents
		.decor-list
			margin-bottom 35px
			
	.decor-list
		li
			font-size 14px
	
	// Benefits
	.sect__benefits
		padding 35px 0
		
	.sect__uptitle
		font-size 14px
		margin-bottom 10px
		
	.benefit__item
		font-size 14px
		margin-bottom 30px
		&:last-child
			margin-bottom 0
		&--ic
			margin-right 25px
			

	// Estimate
	.sect__estimate
		padding-top 35px
		padding-bottom 265px
	.estimate
		&__content
			max-width 100%
		&__img
			// width 500px
			width 400px
			height auto
			// bottom -545px
			// transform none
			// left auto
			// right 0
	
	// Advantages
	.sect__advantages
		padding-bottom 35px
	.advantages
		&__content
			padding-top 35px
			padding-bottom 35px
		&__information
			padding-top 35px
			overfow hidden
			.img-decor
				right -180px
	
	// Portfolio
	.sect__portfolio
		padding 35px 0
	.portfolio__slider--mobile
		margin-top 20px
		
	// Licenses
		
	.license__slide
		p
			font-size 14px
			
	.licenses__slider
		margin-left -15px
		margin-right -15px
		.swiper-slide
			width 220px
			padding-left 5px
			padding-right 5px
			
	.slider__btn--arrow
		&.is-disabled
			visibility visible
			opacity 1
	

	// Feedbacks
	.sect__feedbacks
		padding-bottom 35px
	.feedback
		&__slide
			padding-bottom 0
		&__img
			width 140px
			
		&__title
			font-size 18px
			margin-bottom 10px
		&__text
			font-size 14px
			margin-bottom 20px
			
		&__link
			font-size 14px
			
	.feedbacks__slider
		padding-left 0
		padding-right 0
		.slider__btn
			top 60px
			&--prev
				left -15px
			&--next
				right -15px
				

	// Faq
	.faq
		margin-top 20px
		&__btn
			display none
	
		&__item	
			&--title
				margin-right 0
			&--header
				padding 15px
			
			&--body
				padding 0 15px 40px 15px
				

	// Form
	.sect__title--mobile
		display block
	.sect__form
		padding 35px 0
		
		.form__wrapper
			margin-bottom 35px
			
		.contacts__block
			margin-bottom 0
			
	.input
		padding-top 12px
		padding-bottom 12px
		&__file--label
			padding-top 12px
			padding-bottom 12px
			
	.contacts
		&__block
			.sect__title
				font-size 24px
		&__row
			flex-direction column
			align-items flex-start
			
		&__link
			margin-right 0
			margin-bottom 15px
			&:last-child
				margin-bottom 0
	
	.contacts__block
		width 100%
		order 2
		.sect__title
			display none	


	.form
		&__wrapper
			width 100%
			order 1
		&__block
			border-radius 0
			box-shadow none
			padding 0
			&--title
				font-size 16px
				line-height 24px
				
			.input__wrapper
				margin-bottom 20px
				

	.btn-lg
		font-size 14px
		

	.popup
		&__overflow
			padding-top 20px !important
			padding-bottom 20px !important
		.form__block
			border-radius 15px
			padding 20px
			
			&--title
				font-size 14px
				padding-right 25px
				text-align left
				
		
		.btn__close
			bottom auto
			margin-bottom 0 !important
			z-index 3
			top 10px
			border-color $accent-color
			right 10px
			width 25px
			height 25px
			svg
				fill $accent-color
				fill-opacity 1
				width 15px
				height 15px
				
		.input
			padding-top 11px
			padding-bottom 11px
		

	// Contacts
	.sect__contacts
		padding-top 35px
		
	.contacts-half
		margin-bottom 35px
		padding-right 0
		
	.map__wrapper
		height 240px
		


	.logo-footer
		margin-right 10px
		img
			width 65px
	.footer
		&__top
			padding 30px 0
		&__logo
			margin-bottom 15px
			&--text
				p
					font-size 12px
				&-title
					font-size 12px
					margin-bottom 5px
			
		&__sharing
			display none
			
		&__menus
			margin-bottom 0
			
			display flex
			flex-direction column
			justify-content flex-start
			
		&__menu
			margin-bottom 12px
			&:last-child
				margin-bottom 0
		
		
		

			
+max-screen(440px)
	.btn
		width 100%
		font-size 14px
		padding-top 10px
		padding-bottom 10px
		&__search
			padding-top 11px
			padding-bottom 11px
		
	// Promo
	.sect__promo
		padding-bottom 80px
	.promo__video--wrapper
		height 180px
		
	// Advantages
	.advantages__information
		.img-decor
			width 202px
			height 193px
			right -100px
	

	// Clients
	.client__logo
		flex auto
		max-width none
		width 33.3333%
		

+max-screen-height(800px)
	.popup
		&__overflow
			padding 60px 10px
		&__title
			display none
		
		.btn__close
			margin-bottom 15px
			
	.btn__close
		width 35px
		height 35px
		svg
			width 20px
			height 20px
		
			
