// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen(1400px)
	// Services
	.services-additional__col
		.img-decor
			right -160px
	
	// Help
	.help__img
		margin-left -100px
	

	// Faq
	.faq
		.img-decor
			&-top
				right -150px
			&-bottom
				right auto
				left -150px
				
	.sect__penalties
		&:after
			transform none
			top 0
			

	.quiz-promo-block__offer
		padding-left 	20px
		
	.quiz-promo-block__btn
		.btn
			&:before
				left 0

+max-screen(1200px)
	.homepage-links 
		.big-link--with-arrow:first-child
			max-width 50%
			
	.sect__penalties
		padding-bottom 220px
		&:after
			display none
			
	// Services
	.services-additional__col
		padding-right 0
		.img-decor
			display none
			
	// Guarantee
	.sect__guarantee
		.container
			padding-left 0
			padding-right 0
	.guarantee
		&__block
			width 100%
			padding-top 0
			padding-right 0
			padding-bottom 0
		&__content
			padding-right 15px
			padding-left 15px
			padding-top 40px
		&__information
			position relative
			left auto
			top auto
			width 100%
			padding 35px 15px
			margin-top 40px
			


	// ADvatages
	.advantages
		&__content
			padding-right 70px
		&__information
			padding-left 70px
			.img-decor
				left auto
				top auto
				bottom 0
				right -150px
				

	.clients
		&__row
			flex-wrap wrap
		&__title--col
			width 100%
			margin-bottom 10px
		&__logos
			width 100%
			flex none
			
	// Feedbacks
	.feedback__content
		padding-left 50px
	

		// Faq
	.faq
		padding-left 0
		padding-right 0
		.img-decor
			&-top
				right -50px
			&-bottoms
				left 0
	
	// Form
	.form__img
		display none
		


	.sect__contacts
		padding 120px 0
		
	.page-contacts
		padding-top 25px
		
		.breadcrumbs
			margin-bottom 100px
		

	// Page services
	.subservice-card
		&__wrapper
			width 50%
			
	.skdu-offer
		img
			margin-left 60px
			

	.footer-contacts
		.contacts__row
			flex-wrap wrap
			display inline-flex
			flex-direction column
			
		.contacts__link
			margin-bottom 15px
			&:last-child
				margin-bottom 0
				

	// Lead magnit
	.lead-benefit__text--title
		font-size 35px

+max-screen(1100px)
	.gutters
		padding 80px 0
	.gutter
		&-top
			padding-top 80px
		&-bottom
			padding-bottom 80px
	// Header
	.header__nav
		margin-left 15px
		
	.header__row
		position static
	.nav
		margin-right 15px
		
		li
			margin-right 20px
			
	.logo
		font-size 12px
		max-width 260px
		span
			margin-left 10px
			

	.sect__penalties
		padding-bottom 220px
		

	.promo-lead__img
		position relative
		transform none
		left auto
		width 100%
		img
			width 100%
		
	.sect__promo-lead .breadcrumbs
		margin-bottom 40px
		
	.promo-lead__content
		max-width 100%
		
	.sect__promo-lead
		padding-bottom 80px
			
	// Promo
	.sect__promo
		min-height auto
		&-homepage
			padding-top 80px
		
	.promo__content
		padding-right 60px
		
	.promo-offer
		&__content
			.sect__title
				font-size 38px
				
			img
				max-width 500px
		
	// Services
	.sect__services
		&:before,
		&:after
			left -60%
		&-additional
			&:before
				left -55%
			&:after
				left -60%
				
	.sect__benefits
		&:before,
		&:after
			left -60%
				
	// Help
	.sect__help
		padding-top 80px
		
	// Help
	.help__img
		margin-left -150px
		
	// Portfolio
	.sect__portfolio
		padding 80px 0
	.portfolio__slide
		&--col
			.project__card
				&:first-child
					padding-bottom 40px
					.project__card--title
						font-size 28px
		.project__card
			padding 15px
			&--title
				font-size 20px
			&--link
				font-size 18px
				


	.footer
		&__top
			padding 35px 0
			&--row
				flex-wrap wrap
		&__logo
			max-width 100%
			margin-bottom 35px
		&__sharing
			width 100%
			
		&__menus
			margin-left -15px
			margin-right -15px
			margin-bottom 35px
			margin-top 25px
			
			display flex
			justify-content flex-start
			
		&__menu
			margin-bottom 0
			max-width none
			
			&:last-child
				margin-right 0
		

				
	.footer__bottom
		font-size 10px
		.row
			flex-wrap wrap
			
	.copyright
		max-width 100%
		margin-top 15px
		
	.problems__block
		img
			margin-left -150px
		
	// projects
	.project__card--wrapper
		padding 5px
	
	.projects__row
		margin-left -5px
		margin-right -5px
		

	.project
		padding 55px 15px
		margin-left -15px
		margin-right -15px
		&-slider__col
			margin-right 35px
			

	.service-card__wrapper
		width 50%
		flex 1 0 33.3333%
		
	// design
	.sect__promo-design:before
		width 280px
		

	.design-advantage__wrapper
		width 50%
		

	.promo-lead__content .btn:before
		display none
		
	.promo-lead__img
		margin-top 40px
				
+max-screen(1000px)
	// Header
	.header
		z-index 5
		&-mobile-info
			display block
		&-mobile-link
			display inline-block
		&__top
			display none
			
		&__row
			padding-right 65px
			
		&__nav
			position fixed
			top 0
			left 0
			width 100%
			z-index 5
			background-color $white-color
			margin-left 0
			padding 0
			height 100vh
			overflow-y auto
			padding-bottom 80px
			display none
			flex none
			.row
				flex-wrap wrap
				flex-direction column
				align-items flex-start
			
			.header__contacts
				background-color transparent
				order 1
				padding-left 30px
				padding-right 0
				
			.nav
				order 2
				width 100%
				margin-right 0
				background-color #fff
				padding-left 30px
				padding-top 20px
				border-top 1px solid #F5F5F5
			
				li
					display block
					margin-right 0
					text-align left
					padding 0
					margin-bottom 25px
					.btn-toggle
						display inline-block	
						vertical-align middle
						margin-left 30px
					&:last-child
						margin-bottom 0
					
				a
					font-family $Med
					
				

			.menu-item-has-children
				
				> a
					padding-right 0
					&:after
						display none
				&:hover
					.sub-menu
						margin-top 10px
				
			.sub-menu
				display none
				transition none
				position relative
				top auto
				right auto
				width calc(100% + 60px)
				margin-top 0
				opacity 1
				visibility visible
				box-shadow none
				border none
				margin-left -30px
				margin-right -15px
				margin-bottom -10px
				&:before
					display none
				ul
					display block
				a
					padding-left 85px
					font-size 12px
					padding-top 15px
					padding-bottom 15px
				li
					border none !important
					padding 0
					width 100%
					margin 0
					&:last-child
						margin-bottom 0
						
					img
						width 25px !important
						height 25px !important
						left 30px
				&:before
					display none
					
	.mobile-phone
		display inline-block
		margin-bottom 0
		font-size 16px
		text-align right
		a
			margin-bottom 0
		
		.phone-link
			font-size 18px
		
	.phone-link
		font-size 14px
		
		&:before
			width 15px
			height 15px
			background-size 15px 15px
			
	.logo
		display inline-block
		max-width none
		span
			display none
			
	.btn__hamburger
		display inline-block
		
	.need-project
		&__content
			max-width 100%
			padding-top 80px
			padding-bottom 0
			&--text
				&_lg
					font-size 24px
					line-height 28px
			img
				position relative
				left auto
				margin-left 0
				transform none
				top auto
				right auto
				margin-top 40px
		
	// Services
	.sect__services
		padding 80px 0 55px
		&:before,
		&:after
			left 0
		&-additional
			padding 0
			&:before,
			&:after
				display none
			
	.sect__services-additional .title__col h2
		max-width 100%
			
	.title__col
		max-width 100%
		
		margin-bottom 30px
	.services__col
		max-width 100%
		padding 0
		
	.services
		&__row,
		&-additonal__row
			flex-wrap wrap
		
	.service
		&__item
			color $white-color
			
	
	.sect__services-additional
		.container
			padding-left 0
			padding-right 0
			
	.services-additional
		&__col
			padding 40px 15px
			max-width 100%
			width 100%
			
	.services-additional__row
		.title__col
			max-width 100%
			margin-bottom 0
			padding 30px 15px
			background $accent-color url('../img/backgrounds/pattern-bg.png') 50% 50% no-repeat / cover
	

	.skdu-offer
		max-width 100%
		img
			margin-left 0
			position relative
			transform none
			left auto
			top auto
			margin-top 50px
			width 100%
			
		
	// Help
	.help
		&__block
			max-width 100%
			padding-bottom 0
			&--content
				max-width 100%
				
		&__img
			position relative
			margin-left 0
			left auto
			right auto
			width 100%
			

	// Documents
	.sect__documents
		padding 45px 0
		&:before
			display none
			
		&-reverse
			.documents__img
				left auto
				margin-left 0
			
	.documents
		width 100%
		padding-right 0
		
		&__img
			position relative
			transform none
			right auto
			margin-right 0
			margin-bottom 15px
			margin-left 0
			top auto
			

			
	.lead__img
		width 100%
			

	// Benefits
	.sect__benefits
		padding 80px 0
		&:before,
		&:after
			width 100%
			left 0
			
	.benefits__col
		padding 0
		
		.img-decor
			display none
			
	.benefit__item
		color $white-color
		max-width 100%
	

	// Estimate
	.sect__estimate
		padding-top 80px
		padding-bottom 400px
	.estimate
		&__content
			max-width 100%
		&__img
			right auto
			horisontal-center()
			// top auto
			// bottom -850px
			top 100%
			


	// Feedbacks
	.feedback
		&__slide
			flex-direction column
			align-items center
			padding-left 0
			padding-right 0
			padding-bottom 80px
		&__content
			padding-left 0
			text-align center
			
		&__img
			margin-bottom 60px
			
	.feedbacks__slider
		.slider__btn
			transform none
			margin-top 0
			top 175px
			

	// FAq
	.faq
		.img-decor
			display none
			
	// Form
	.sect__form
		&:after
			display none
			
		.contacts__block
			max-width 100%
			margin-bottom 60px
	.sect__form
		&--row
			flex-wrap wrap
			justify-content center
	
	.form__wrapper
		width 75%
		
	.sect__form
		padding 80px 0
		

	// Contacts
	.sect__contacts
		padding-top 80px
		padding-bottom 0
		
	.page-contacts
		padding-top 25px
		
		.breadcrumbs
			margin-bottom 70px
		
	.map__wrapper
		width 100%
		height 400px
		position relative
		left auto
		top auto
		
	.contacts-half
		max-width 100%
		width 100%
		margin-bottom 80px
		
	.project
		padding 55px 35px
		&__row
			flex-wrap wrap
		&-slider__col
			max-width 100%
			margin-right 0
			margin-bottom 40px
			

	.need-project__content
		.btn
			margin-top 20px
			img
				position absolute
				margin-top 0
				left 0
				vertical-center()
	
	.content
		h2
			font-size 30px
			line-height 36px
		h3
			font-size 24px
			line-height 28px
			
		h4
			font-size 20px
			line-height 24px
			
		h5,h6
			font-size 16px
			line-height 19px
			

	.lead-benefit__col
		width 50%
		margin-bottom 30px
		
	.lead-benefit__text--title:after
		display none
		

	.quiz-promo-block
		padding-top 100px
		&__img
			width 900px
			

			
			
+max-screen(900px)
	.popup-with-img
		.popup__content
			img
				display none
	
		.popup__content,
		.popup__body
			max-width 460px
			
	.presentation
		padding 60px 0
		&__block
			width 100%
			img
				position relative
				width 100%
				right auto
				transform none
				top auto
				
	.presentation__btn
		width 450px
		
	.about-us-detail__wrapper
		width 50%
		
	.about-us-details__row
		flex-wrap wrap
	// Promo
		
	.promo
		&__row
			flex-wrap wrap
		&__content
			width 100%
			padding-right 0
			margin-bottom 50px
			
		&__video
			width 100%
			

	// ADvatages
	.sect__advantages
		padding-top 0
		&:before
			display none
		.container
			padding 0
	.advantages
		&__row
			flex-wrap wrap
		&__content
			padding 80px 15px
			width 100%
			background #222 url('../img/backgrounds/pattern-bg.png') 50% 50% no-repeat / cover
		&__information
			padding 80px 15px 0 15px
			width 100%
			.img-decor
				left auto
				top auto
				bottom 0
				right 0
				
	.sect__guarantee-skdu
		.advantages
			&__content
				background-image url('../img/backgrounds/skdu-adv-bg.svg')
		
	

	.promo-offer
		&__content
	
				
			img
				max-width 440px
				
	.our-experience
		&__col
			width 50%
			
	.problems__block
		max-width 100%
		padding-top 35px
		padding-bottom 0
		img
			margin-left 0
			width 100%
			position relative
			left auto
			bottom -50px
	
	.project__card--wrapper
		width 50%
		&:nth-child(9n+1)
			width 100%
			

	.service-card
		padding 35px 20px
		&__wrapper
			padding 5px
		
	.services-cards__row
		margin-left -5px
		margin-right -5px
	


	// Page services
	.subservice-card
		&__title
			font-size 30px
			span
				font-size 20px
				

	// design
	.sect__promo-design:before
		display none
		
	.promo-design__img
		position relative
		left auto
		margin-left 0
		width 100%
		top auto
		transform none
		margin-top 40px
		img
			width 100%
				
+max-screen(767px)
	// Portfolio
	.portfolio__slider
		&--desktop
			display none
		&--mobile
			display block
			
	.client__logo
		flex 1 0 125px
		max-width 125px
		
	.design-advantage
		&__wrapper
			margin-bottom 30px
			width 100%
		&__title
			font-size 18px
			line-height 24px
		p
			max-width 100%
		

	// Popup
	
	// .popup
	// 	.btn__close
	.popup__overflow
		padding 60px 10px		
	.btn__close
		width 35px
		height 35px
		svg
			width 20px
			height 20px
	

	.promo-offer
		&__content
			padding-bottom 0
			
			.sect__title
				font-size 24px
				line-height 125%
				span
					font-size 16px
		
				
			img
				position relative
				right auto
				bottom auto
				transform translateY(2px)
				width 100%
				max-width 100%
				

	.penalties-table 
		table
			font-size 14px
		thead 
			td
				font-size 18px
		td
			padding 15px
				

	// Homepage
	.homepage-links
		flex-wrap wrap
		margin-top 90px 
		.big-link--with-arrow
			width 100%
			flex none
			&:first-child
				max-width 100%
	

	.service-card
		&__wrapper
			width 50%
			flex 1 0 50%
			

	.quiz-promo-block
		padding-top 50px
		padding-bottom 0
		&__img
			width 100%
			position relative
			right auto
			bottom auto
			

+max-screen(700px)
	// Page services
	.subservice-card
		padding-left 15px
		padding-right 15px
		&__notice
			font-size 14px
			
		&__wrapper
			width 100%
			
	.letter__wrapper
		width 50%
			
+max-screen(620px)
	.licenses__slider--navigation
		display block
		
	body
		font-size 14px
	.gutters
		padding 35px 0
		
	.gutter
		&-top
			padding-top 35px
		&-bottom
			padding-bottom 35px
		
	.sect__subtitle
		margin-bottom 35px
		
	.skdu-help
		width 100%
		
	.presentation__btn
		width 100%
		padding-left 100px
		background-position left 20px center
		padding-right 10px
		
	.presentation__block
		img
			margin-bottom 30px
			
	.about-us-detail__wrapper
		width 100%
		padding-bottom 0
		margin-bottom 45px
		&:last-child
			margin-bottom 0
			
	.sect__about-us-details
		padding-bottom 60px
		
	.sect__another-projects 
		.sect__title
			margin-bottom 30px
	.another-projects-slider 
		.project__card
			height 260px
			padding 45px 15px
			&--title
				font-size 20px
				line-height 22px
			&--link
				font-size 16px
				
	.slider__pagination
		margin-top 30px
		.swiper-pagination-bullet
			margin-right 15px
			width 18px
			height 	18px
			border-width 3px
	// Promo
	.sect__promo
		padding 35px 0
		
		&-homepage
			padding-bottom 0
		&-service
	
			.breadcrumbs
				margin-bottom 30px
		
	.promo__img
		display none
		
	.title,
	.sect__promo-lead .title
		font-size 24px
		span
			font-size 18px
			
	.sect__promo-lead .title
		line-height 30px
			
	.sect__promo-services 
		padding-top 100px
		.title 
			span
				font-size 18px
				
	.homepage-links
		margin-top 60px
	
	.subtitle
		margin-bottom 10px
		
	.commercial-proposal
		&__text
			margin-bottom 30px
			
	.sect__our-experience
		padding 60px 0 0
			
	.promo
		&__content
			margin-bottom 25px
		&__video
			&--wrapper
				margin-bottom 25px
			&--notice
				font-size 12px
				line-height 18px
				max-width 240px
				text-align left
				&:before
					vertical-center()
	

	.sect__seo
		padding 60px 0
		.content
			h2,h3
				font-size 24px
				line-height 125%
				margin-bottom 30px	
				

	.page-lead .sect__licenses
		padding-bottom 40px
				
		
				
	.big-link--with-arrow
		padding 20px
		font-size 14px
		
	.homepage-promo__title
		font-size 36px
		line-height 45px
		span
			font-size 18px
			line-height 24px		

	// Services
	.sect__services
		padding 35px 0 15px
	.sect__title,
	.sect__title--lg
		font-size 24px
		line-height 125%

	.service
		&__item
			font-size 14px
			line-height 18px
			&--wrapper
				padding 0 6px 20px 6px
			&--ic
				width 55px
				height 55px
				background-size 55px 55px
				&-block
					width 70px
					height 70px
					margin-bottom 20px
					
	.services__row
		margin-left -6px
		margin-right -6px
		
	.services-additional
		&__col
			padding 35px 15px
	

	.alarm-content
		font-size 16px
		line-height 150%
		
		ul
			li
				font-size 14px
				
	.skdu-guarantee__item
		flex-direction column
		&--ic
			margin-right 0
			margin-bottom 30px
				

	// Help
	
	.sect__help
		padding-top 35px
		
	.help
		&__block
			&--content
				p
					font-size 14px
					line-height 129%
					margin-bottom 25px
				&_text
					p
						font-size 16px
						margin-bottom 5px
		&__contacts
			margin-left 0
			margin-top 15px
			span
				display none
			&--row
				flex-direction column
				align-items center
				
				.btn
					text-align center
		

			
	.sect__title--gutter
		margin-bottom 15px
		

	.sect__penalties
		padding-bottom 240px
		
	.penalties-table__notice
		font-size 16px
		margin-top 25px
		
	.penalties-table 
		table
			font-size 12px
		td
			padding 10px
		thead
			td
				font-size 16px
		

	// Guarantee
	.guarantee
		&__block
			img
				max-width 200px
		&__information
			&--title
				font-size 24px
				line-height 30px
				margin-bottom 20px
				
			&--item
				h5
					font-size 16px
				&-ic
					width 45px
					height 45px
					background-size 45px 45px
					margin-right 30px
					

	// Documents
	.documents
		.decor-list
			margin-bottom 35px
			
	.decor-list
		li
			font-size 14px
	
	// Benefits
	.sect__benefits
		padding 35px 0
		
	.sect__uptitle
		font-size 14px
		margin-bottom 10px
		
	.benefit__item
		font-size 14px
		margin-bottom 30px
		&:last-child
			margin-bottom 0
		&--ic
			margin-right 25px
			

	// Estimate
	.sect__estimate
		padding-top 35px
		padding-bottom 265px
	.estimate
		&__content
			max-width 100%
		&__img
			// width 500px
			width 400px
			height auto
			// bottom -545px
			// transform none
			// left auto
			// right 0
	
	// Advantages
	.sect__advantages
		padding-bottom 35px
	.advantages
		&__content
			padding-top 35px
			padding-bottom 35px
		&__information
			padding-top 35px
			overfow hidden
			.img-decor
				right -180px
	
	// Portfolio
	.sect__portfolio
		padding 35px 0
	.portfolio__slider--mobile
		margin-top 20px
		
	// Licenses
		
	.license__slide
		p
			font-size 14px
			
	.licenses__slider
		margin-left -15px
		margin-right -15px
		.swiper-slide
			width 220px
			padding-left 5px
			padding-right 5px
			
	.slider__btn--arrow
		&.is-disabled
			visibility visible
			opacity 1
	

	// Feedbacks
	.sect__feedbacks
		padding-bottom 35px
	.feedback
		&__slide
			padding-bottom 0
		&__img
			width 140px
			
		&__title
			font-size 18px
			margin-bottom 10px
		&__text
			font-size 14px
			margin-bottom 20px
			
		&__link
			font-size 14px
			
	.feedbacks__slider
		padding-left 0
		padding-right 0
		.slider__btn
			top 60px
			&--prev
				left -15px
			&--next
				right -15px
				

	// Faq
	.faq
		margin-top 20px
		&__btn
			display none
	
		&__item	
			&--title
				margin-right 0
			&--header
				padding 15px
			
			&--body
				padding 0 15px 40px 15px
				

	// Form
	.sect__title--mobile
		display block
	.sect__form
		padding 35px 0
		
		.form__wrapper
			margin-bottom 35px
			
		.contacts__block
			margin-bottom 0
			
	.input
		padding-top 12px
		padding-bottom 12px
		&__file--label
			padding-top 12px
			padding-bottom 12px
			
	.contacts
		&__block
			.sect__title
				font-size 24px
		&__row
			flex-direction column
			align-items flex-start
			
		&__link
			margin-right 0
			margin-bottom 15px
			&:last-child
				margin-bottom 0
				
		.roistat-phone
			margin-bottom 15px
	
	.contacts__block
		width 100%
		order 2
		.sect__title
			display none	


	.form
		&__wrapper
			width 100%
			order 1
		&__block
			border-radius 0
			box-shadow none
			padding 0
			&--title
				font-size 16px
				line-height 24px
				
			.input__wrapper
				margin-bottom 20px
				

	.btn-lg
		font-size 14px
		

	.popup
		&__overflow
			padding-top 20px !important
			padding-bottom 20px !important
		.form__block
			border-radius 15px
			padding 20px
			
			&--title
				font-size 14px
				padding-right 25px
				text-align left
				
		
		.btn__close
			bottom auto
			margin-bottom 0 !important
			z-index 3
			top 10px
			border-color $accent-color
			right 10px
			width 25px
			height 25px
			svg
				fill $accent-color
				fill-opacity 1
				width 15px
				height 15px
				
		.input
			padding-top 11px
			padding-bottom 11px
			
	.popup-with-img
		.popup__content
			padding 0
		.form__block
			max-width 100%
			&--title
				font-size 16px
				span
					font-size 14px
		

	// Contacts
	.sect__contacts
		padding-top 35px
		
	.contacts-half
		margin-bottom 35px
		padding-right 0
		
	.map__wrapper
		height 240px
		


	.logo-footer
		margin-right 10px
		img
			width 65px
	.footer
		&__top
			padding 30px 0
		&__logo
			margin-bottom 15px
			&--text
				p
					font-size 12px
				&-title
					font-size 12px
					margin-bottom 5px
			
		&__sharing
			margin-top 30px
			
		&__menus
			margin-bottom 0
			
			display flex
			flex-direction column
			justify-content flex-start
			
		&__menu
			margin-bottom 12px
			&:last-child
				margin-bottom 0
				
	.page-contacts
		padding-top 25px
		
		.breadcrumbs
			margin-bottom 50px
			
		.sect__title
			display block
			margin-bottom 30px
		
	
	.page-content
		padding-bottom 80px
		
	.load-more
		margin-top 60px	
		
	.project__card--wrapper
		width 100%
		&:nth-child(9n+1)
			width 100%
			.project__card
				&--title
					font-size 24px
					line-height 125%
					margin-bottom 10px
					
		.project__card
			padding 140px 20px 30px 20px
			&--title
				margin-bottom 10px 
			&--link
				font-size 14px
				
	.project
		padding 40px 15px
		margin-left 0
		margin-right 0
		&__title
			font-size 26px
			line-height 32px
			margin-bottom 40px
		
	.page-single-project
		.container
			padding-left 0
			padding-right 0
			

	.service-card
		&__wrapper
			width 100%
			flex 1 0 100%
			padding-bottom 0
			margin-bottom 30px
			&:last-child
				margin-bottom 0
				

	.about-us 
		.promo__video--wrapper
			height 300px
			
	.sect__promo-about
		.title
			font-size 30px
			line-height 36px
			

	.title-skdu
		b, strong
			font-size 20px
		span
			font-size 16px
			
	.skdu-advantage
		font-size 16px
		line-height 24px
		&__wrapper
			width 50%
			

	.content
		h2
			font-size 24px
			line-height 28px
			margin-bottom 15px
		h3
			font-size 18px
			line-height 24px
			margin-bottom 15px
			
		h4
			font-size 16px
			line-height 19px
			


	.footer-menu__columns
		flex-wrap wrap
		ul
			width 100%
			margin-bottom 12px
			&:last-child
				margin-bottom 0
				

	.lead-benefit__col
		width 100%
		&:last-child
			margin-bottom 0
			
	.lead-benefit
		&__text--title
			font-size 26px
			margin-bottom 15px
			line-height 1
		&__img
			height auto
			

	.quiz-promo-block
		padding-top 60px
		.title
			font-size 26px
			line-height 34px
			margin-bottom 25px
			span
				font-size inherit
				
		&__offer
			padding-left 30px
			flex-wrap wrap
			p
				max-width 100%
				width 100%
				font-size 12px
			
		&__btn
			.btn
				&:before
					left 0
						
+max-screen(440px)
	.btn
		width 100%
		font-size 14px
		text-align center
		&__search
			padding-top 11px
			padding-bottom 11px
			
	.subtitle
		font-size 16px
		line-height 22px
		
	// Promo
	.sect__promo
		padding-bottom 80px
		&-homepage
			padding-bottom 0
	.promo__video--wrapper
		height 180px
		
	// Advantages
	.advantages__information
		.img-decor
			width 202px
			height 193px
			right -100px
	

	// Clients
	.client__logo
		flex auto
		max-width none
		width 33.3333%
		
	.gift
		padding 160px 20px 30px 20px
		background-position top -15px left
		

	.letter__wrapper
		width 100%
		&:last-child
			margin-bottom 0
		
+max-screen-height(800px)
	.popup
		&__overflow
			padding 60px 10px
		&__title
			display none
		
		.btn__close
			margin-bottom 15px
			
	.btn__close
		width 35px
		height 35px
		svg
			width 20px
			height 20px
		
			
