.aside
	width 470px
	flex none
	margin-left 32px
	padding-top 32px
	border-top 1px solid $block-bg
	

	.form-block
		padding 32px
		position relative	
		overflow visible
		&__content
			position static
		&__form
			padding 32px
		
		.sect__title
			font-size 24px
			line-height 31px
			margin-bottom 16px
			
		img
			width 183px
			top -55px
			right -55px
			pointer-events none
			position absolute
			

	.consultation
		margin-top 32px

