.footer
	background-color $footer-bg
	&__top
		padding 100px 0
	&__bottom
		padding 10px 0
		color $lighter-text-color
		font-size 14px
	

		&--nav
			margin-right 15px
			li
				display inline-block
				margin-right 15px
				&:last-child
					margin-right 0
					
			a
				color inherit
				text-decoration underline
				&:hover
					text-decoration none
	
	&__logo
		display flex
		justify-content flex-start
		align-items flex-start
		max-width 370px
		&--text
			&-title
				margin-bottom 15px
			p
				font-size 14px
				
		&--col
			max-width 370px
				
	&__menus
		flex 1
		margin-left 50px
		display flex
		justify-content space-between
		
	&__menu
		margin-bottom 35px
		padding-left 15px
		padding-right 15px
		&--title
			margin-bottom 12px
		&:last-child
			margin-bottom 0
		li
			display block
			margin-bottom 12px
			&:last-child
				margin-bottom 0
		a
			color $accent-color
			text-decoration underline
			&:hover
				text-decoration none

	
				
	&__sharing
		width 310px
		flex none
		&--title
			margin-bottom 20px
			

.footer-menu__columns
	display flex
	flex-wrap wrap
	justify-content flex-start
	ul
		width 50%
		padding 0 15px
		padding 0 15px
			

.copyright
	max-width 550px
	

.footer-contacts
	width 100%
	margin-top 20px
	.contacts__row
		flex-wrap wrap
		display inline-flex
		flex-direction column
		a
			margin-bottom 15px
			&:last-child
				margin-bottom 0
	p
		margin-bottom 15px
		&:last-child
			margin-bottom 0